.pricing-table--style1 {
    border: 4px solid transparent;
    border-radius: 20px;
    background-color: #131418;
}

.crumina-pricing-table {
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
    /* padding: 40px; */
    padding: 18px;
}

.crumina-pricing-table .pricing-thumb {
    margin-bottom: 25px;
}

.pricing-table--style1 .pricing-thumb img {
    width: 100px;
    height: 100px;
}

.crumina-pricing-table .pricing-thumb img {
    border-radius: 100%;
    display: inline-block;
}

.pricing-table--style1 .pricing-title {
    text-transform: uppercase;
}

.crumina-pricing-table .pricing-title {
    margin-bottom: 25px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.pricing-table--style1 .pricing-title>span {
    display: block;
    font-size: 22px;
    color: #666d7a;
}

.pricing-table--style1 .price {
    text-align: left;
    padding: 12px;
    border-radius: 20px;
    background-color: #181a20;
}

.crumina-pricing-table .price {
    position: relative;
    margin-bottom: 25px;
}

.crumina-pricing-table .price-sup-title {
    color: #666d7a;
    font-weight: 700;
}

.crumina-pricing-table .price .price-value {
    color: #ffba00;
    font-weight: 700;
    /* font-size: 32px; */
    font-size: 20px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.pricing-table--style1 .pricing-tables-position {
    margin-bottom: 40px;
}

.pricing-tables-position {
    list-style: none;
    margin-bottom: 25px;
    padding-left: 0;
}

.pricing-table--style1 .pricing-tables-position li {
    border-bottom: 4px solid #181a20;
}

.pricing-tables-position li .currency-details-item {
    padding-bottom: 0;
    margin-bottom: 0;
}

.pricing-tables-position li .currency-details-item .title {
    font-size: 16px;
    color: #666d7a;
}

.pricing-tables-position li .currency-details-item .value {
    font-size: 18px;
}

.pricing-tables-position li {
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    /* padding: 8px 0; */
    border-bottom: 2px solid #181a20;
    font-weight: 400;
}

.btn--primary {
    border: 4px solid;
    border-color: #ffba00;
    background-color: transparent;
    color: #ffba00;
}

.btn--large {
    font-size: 18px;
    border-radius: 30px;
    padding: 14px 20px !important;
}

.full-width {
    width: 100%;
}

.btn--primary:active {
    color: #16181d;
    border-color: #cc9500;
    background-color: #cc9500;
}

.btn--primary:hover {
    background-color: #ffba00;
    font-weight: 500;
    color: #fff;
}

.font-white {
    color: #fff !important;
}

.font-18 {
    font-size: 18px !important;
}

.rank-w {
    /* margin-left: 70px;
    margin-right: 70px;
    border-radius: 80px !important; */
    cursor: pointer;
}

#other {
    display: none;
}