:root {
    --forny-form-paddings: 2.5rem;
    --forny-color-accent-100: hsla(125, 64%, 93%, 1);
    --forny-color-accent-500: hsla(244, 79%, 52%, 1);
    --forny-color-accent-700: hsla(213, 94%, 36%, 1);
    --forny-color-gray-100: hsla(216, 33%, 97%, 1);
    --forny-color-gray-500: hsla(209, 23%, 60%, 1);
    --forny-color-gray-900: hsla(210, 39%, 23%, 1);
    --forny-font-family: 'Nunito', sans-serif;
    --forny-color-text-100: var(--forny-color-gray-100);
    --forny-color-text: var(--forny-color-gray-900);
    --forny-color-header: var(--forny-color-gray-900);
    --forny-link-color: var(--forny-color-accent-500);
    --forny-form-control-border: none;
    --forny-form-control-padding: var(--forny-p2) var(--forny-p4);
    --forny-form-control-radius: 6px;
    --forny-form-control-background: white;
    --forny-shadow-color: var(--forny-color-gray-300)
}

.forny-container {
    display: block;
    align-items: center;
    background-color: #fff
}

.forny-inner {
    display: flex;
    height: 100vh;
    width: 100%
}

.forny-two-pane {
    height: 100%;
    display: flex;
    flex-direction: row-reverse
}

.forny-two-pane>div {
    flex: 1
}

.forny-two-pane>div:first-child {
    display: flex;
    align-items: center
}

.forny-two-pane>div:last-child {
    display: none;
    background-image: url(../img/bg-07.svg);
    background-position: center center;
    background-repeat: no-repeat;
    color: #243b52;
    color: var(--forny-color-gray-900);
    text-align: center;
    align-items: center;
    justify-content: center
}

.forny-form {
    padding: 2.5rem;
    padding: var(--forny-form-paddings)
}

.forny-container h4 {
    font-weight: 700
}

.forny-container .btn-social {
    font-weight: 500
}

.forny-form .forny-logo {
    text-align: left;
    color: #243b52;
    color: var(--forny-color-gray-900)
}

@media(min-width:768px) {
    .forny-two-pane>div:last-child {
        display: flex
    }
}

.forny-container .btn-social {
    color: #243b52;
    color: var(--forny-color-gray-900);
    background-color: transparent!important;
    width: auto;
    display: inline-block;
    font-size: .875rem;
    font-size: var(--forny-text-sm);
    padding: 0!important;
    margin: 0!important;
    margin-right: 1rem!important;
    margin-right: var(--forny-p4)!important
}

.forny-container .btn-social:hover {
    text-decoration: underline
}

.forny-form .form-group {
    margin-bottom: 2rem;
    margin-bottom: var(--forny-p8);
    background: #fff;
    background: var(--forny-form-control-background);
    border-radius: 0;
    transition: box-shadow .3s;
    color: #829ab0;
    color: var(--forny-color-gray-500);
    border-bottom: 2px solid #243b52;
    border-bottom: 2px solid var(--forny-color-gray-900)
}

.forny-form .form-group .form-control,
.forny-form .form-group .input-group-text {
    border-radius: 0;
    color: #829ab0;
    color: black
}

.forny-container .form-control::-webkit-input-placeholder,
.forny-container .input-group-text {
    color: #829ab0;
    color: var(--forny-color-gray-500)
}

.forny-container .form-control::-moz-placeholder,
.forny-container .input-group-text {
    color: #829ab0;
    color: var(--forny-color-gray-500)
}

.forny-container .form-control:-ms-input-placeholder,
.forny-container .input-group-text {
    color: #829ab0;
    color: var(--forny-color-gray-500)
}

.forny-container .form-control::-ms-input-placeholder,
.forny-container .input-group-text {
    color: #829ab0;
    color: var(--forny-color-gray-500)
}

.forny-container .form-control::placeholder,
.forny-container .input-group-text {
    color: #829ab0;
    color: var(--forny-color-gray-500)
}

.forny-form .btn {
    border-radius: 6px;
    border-radius: var(--forny-form-control-radius);
    font-weight: 700;
    padding: .5rem 2rem;
    padding: var(--forny-p2) var(--forny-p8)
}

.forny-form .input-group .input-group-prepend+.form-control {
    padding-left: .5rem;
    padding-left: var(--forny-p2)
}

.forny-container .nav-tabs {
    margin-bottom: 1.5rem;
    margin-bottom: var(--forny-p6);
    border-bottom: 0
}

.forny-container .nav-tabs a {
    border-bottom: 2px solid transparent;
    padding-left: 0;
    padding-right: 0;
    margin-right: 24px;
    color: #243b52;
    color: var(--forny-color-gray-900)
}

.forny-container .nav-tabs a.active {
    border-color: transparent;
    border-bottom-color: #3124e5;
    border-bottom-color: var(--forny-color-accent-500);
    font-weight: 700
}