/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.crumina-crypto-converter {
    padding: 45px;
    border-radius: 20px;
    background-color: #12161C;
    background-image: url(../img/bg-convert.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.crumina-crypto-converter .current-crypto {
    font-weight: 700;
    color: #fff;
}

.crumina-crypto-converter .result-crypto {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.crumina-crypto-converter form {
    margin-top: 30px;
}

.row {
    margin-right: -20px;
    margin-left: -20px;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    display: table;
    content: " ";
    width: 100%;
}

input.input--squared,
textarea.input--squared,
select.input--squared,
.select2.input--squared {
    border-radius: 8px;
    padding: 15px 20px;
}

input,
textarea,
select,
.select2 {
    padding: 15px 30px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: #fff;
    color: #606d85;
    border: 2px solid #606d85;
    width: 100%;
    outline: none;
    caret-color: #ffba00;
}

.woox--select-squared {
    border-radius: 8px;
    padding: 14px 30px;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

select,
.select2 {
    border-color: #333744;
}

.woox--select--dark+.select2 {
    background-color: #1e2126;
}

.select2-container {
    margin-bottom: 10px;
}

.select2 {
    padding: 14px 30px;
}

select,
.select2 {
    border-color: #333744;
}

.btn--primary {
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .mr2 {
        margin-right: .2rem !important;
    }
    .pdng {
        padding-left: 50px;
        padding-right: 50px;
    }
    .arow-right {
        font-size: xx-large;
        margin-top: 20px;
        /*margin-bottom: 0;*/
        cursor: pointer;
    }
}

@media only screen and (min-width: 280px) {
    .balance-usdt {
        position: absolute !important;
        left: 58%;
        top: 45%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .balance {
        position: absolute !important;
        left: 58%;
        top: 45%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .top-53 {
        top: 53% !important;
    }
}

@media only screen and (min-width: 340px) {
    .balance-usdt {
        position: absolute !important;
        left: 64%;
        top: 45%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .balance {
        position: absolute !important;
        left: 64%;
        top: 45%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .top-53 {
        top: 53% !important;
    }
}

@media only screen and (min-width: 400px) {
    .balance-usdt {
        position: absolute !important;
        left: 70% !important;
        top: 45%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .balance {
        position: absolute !important;
        left: 70% !important;
        top: 45%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .top-53 {
        top: 53% !important;
    }
}

@media only screen and (min-width: 500px) {
    .balance-usdt {
        position: absolute !important;
        left: 78% !important;
        top: 45%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .balance {
        position: absolute !important;
        left: 78% !important;
        top: 45%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .top-53 {
        top: 53% !important;
    }
}

@media only screen and (min-width: 600px) {
    .balance-usdt {
        position: absolute !important;
        /*left: 73% !important;*/
        left: 79% !important;
        top: 45%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .balance {
        position: absolute !important;
        /*left: 73% !important;*/
        left: 79% !important;
        top: 45%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .mr2 {
        margin-right: .5rem !important;
    }
    .pdng {
        padding-left: 50px;
        padding-right: 50px;
    }
    .arow-right {
        font-size: xx-large;
        margin-top: 20px;
        /*margin-bottom: 0;*/
        cursor: pointer;
    }
}

@media only screen and (min-width: 768px) {
    .balance-usdt {
        position: absolute !important;
        /*left: 57% !important;*/
        left: 65% !important;
        top: 36%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .balance {
        position: absolute !important;
        /*left: 57% !important;*/
        left: 65% !important;
        top: 45%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .top-53 {
        top: 45% !important;
    }
    .mr2 {
        margin-right: .5rem !important;
    }
    .pdng {
        padding-left: 50px;
        padding-right: 50px;
    }
    .arow-right {
        font-size: xx-large;
        margin-top: 60px;
        cursor: pointer;
    }
}

@media only screen and (min-width: 992px) {
    .balance-usdt {
        position: absolute !important;
        /*left: 59.5% !important;*/
        left: 68.5% !important;
        top: 36%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .balance {
        position: absolute !important;
        /*left: 59.5% !important;*/
        left: 68.5% !important;
        top: 45%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .top-53 {
        top: 45% !important;
    }
    .mr2 {
        margin-right: .2rem !important;
    }
    .pdng {
        padding-left: 50px;
        padding-right: 50px;
    }
    .arow-right {
        font-size: xx-large;
        margin-top: 60px;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1200px) {
    .balance-usdt {
        position: absolute !important;
        /*left: 63.5% !important;*/
        left: 70.5% !important;
        top: 36%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .balance {
        position: absolute !important;
        /*left: 63.5% !important;*/
        left: 70.5% !important;
        top: 45%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .top-53 {
        top: 45% !important;
    }
    .mr2 {
        margin-right: .5rem !important;
    }
    .pdng {
        padding-left: 50px;
        padding-right: 50px;
    }
    .arow-right {
        font-size: xx-large;
        margin-top: 60px;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1400px) {
    .balance-usdt {
        position: absolute !important;
        /*left: 64% !important;*/
        left: 70% !important;
        top: 36%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .balance {
        position: absolute !important;
        /*left: 64% !important;*/
        left: 70% !important;
        top: 45%;
        display: block;
        color: #606d85;
        font-weight: 700;
    }
    .top-53 {
        top: 45% !important;
    }
    .mr2 {
        margin-right: .5rem !important;
    }
    .pdng {
        padding-left: 50px;
        padding-right: 50px;
    }
    .arow-right {
        font-size: xx-large;
        margin-top: 60px;
        cursor: pointer;
    }
}

.badge-success {
    background-color: #02a499;
    color: #fff;
}

.badge-gold {
    border: 2px solid #ffba00;
    border-radius: 5px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

.badge-gold:hover {
    transform: scale(1.1);
    z-index: 2;
}

.badge-gold.active,
.badge-gold:focus {
    background-color: #ffba00;
    color: #000;
    font-weight: 700;
    border: 2px solid #ffba00;
}

.badge-gold.active-1,
.badge-gold:focus {
    background-color: #ffba00;
    color: #000;
    font-weight: 700;
    border: 2px solid #ffba00;
}

.btn--primary {
    background-color: #2b2f36;
    border: 4px solid #2b2f36;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
}

.btn--primary:hover {
    transform: scale(1.05);
    z-index: 2;
    background-color: #2b2f36;
    color: #ffba00;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
}

.btn--primary:focus {
    border-color: #2b2f36;
}

.irs-handle,
.irs-min,
.irs-max {
    display: none !important;
}

.form-control-sm,
.form-control-sm:focus {
    background-color: white;
    border-color: #2b2f36;
}

.dataTables_length {
    display: none;
}

.bg-theme-black {
    background-color: #0e0031!important;
}

.even {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.badge-disabled {
    opacity: 0.5;
}

.pagination-rounded .page-link {
    border-radius: 8px!important;
    margin: 0 4px;
    border: none;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2b2f36;
    border-color: #2b2f36;
}

.page-link:hover {
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: #2b2f36;
    border-color: #2b2f36;
}

.pwt-price-first:first-child {
    border: 2.5px solid #02c076;
    border-radius: 5px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}