.pagination-copy {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.pagination-copy .pagination-item-copy,
.pagination-copy .prev-page {
    text-decoration: none;
    position: relative;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), inset 0 -5px 0px rgba(80, 80, 80, 0.1), inset 0 -10px 0px rgba(150, 150, 150, 0.1); */
    overflow: hidden;
    color: #000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: #efefef;
}


/* .pagination-copy .pagination-item-copy:before,
.pagination-copy .pagination-item-copy:after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-image: linear-gradient(135deg, #000, #595959);
    transform: translateX(-100px);
    transition: 0.3s ease-in-out;
} */


/* .pagination-copy .pagination-item-copy:after {
    content: "click";
    color: #fff;
    background-image: linear-gradient(135deg, #000, #595959);
    transition-delay: 0.25s;
    transform: translateY(100px);
} */

.pagination-copy .pagination-item-copy:hover:before,
.pagination-copy .pagination-item-copy:hover:after {
    transform: translateY(0);
}

.pagination-copy .pagination-item-copy:active {
    box-shadow: none;
}

.pagination-copy .pagination-item-copy.active,
.pagination-copy .pagination-item-copy:hover {
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(135deg, #000, #2e2478);
}

.even {
    background-color: rgba(0, 0, 0, .3) !important;
}

.bg-theme-black {
    background-color: #12161C !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2b2f36;
    border-color: #2b2f36;
}

.form-control-sm,
.form-control-sm:focus {
    background-color: #fff;
    border-color: #fff;
}

@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {
    .pr-5px {
        padding-right: 5px !important;
    }
}

.mb-14px {
    margin-bottom: 14px !important;
}


/* -------------------------------- RESPONSIVE TABLE FOR COPY TRADE PAGE ONLY !!! ------------------------ */


/* table {
    border: 3px solid #1e252f;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
} */


/* table tr {
    background-color: #2b2f36;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: .35em;
}

table td {
    padding: .625em;
    text-align: center;
    color: #cccccc;
}

table th {
    padding: 1.5em;
    text-align: center;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    border-bottom: 3px solid #1e252f;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #1e252f;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1.5px solid #1e252f;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}

.odd-t {
    background-color: #1E2026;
}

.even-t {
    background-color: transparent;
}

.mt-n13 {
    margin-top: -1.3rem;
} */