.d-block2 {
    display: block;
}

@media only screen and (max-width: 768px) {
    .main-sidebar {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .main-sidebar {
        width: 15.6rem;
    }
}

.main-sidebar {
    background-color: #2b2e3d;
}

.sidebar-sec-1 {
    padding: 1rem 1.5rem;
    padding-bottom: 0;
}

.sidebar-sec-2 {
    padding: 1rem 1.5rem;
    /* border-top: 1px solid #4b5563; */
    border-bottom: 1px solid #20304C;
    padding-bottom: 0;
}

.sidebar-sec-3 {
    padding: 1rem 0.75rem;
}

.sidebar-icon {
    font-size: 20px;
    margin-top: 4px;
    font-weight: 100 !important;
    width: 40px;
    color: #fff !important;
}

.binance-icon {
    width: 63px;
    margin-left: -21px;
}

.wazirx-icon {
    width: 19px;
    margin-right: 23px;
}

.sidebar-dropdown-icon {
    float: right;
    font-weight: 100 !important;
    margin-top: 5px;
}

.sub-menu {
    padding-left: 15px;
}

.sub-menu .sidebar-icon {
    font-size: 17px;
    color: #b8bdc6 !important;
}

.sub-menu-section {
    padding-bottom: 7px;
    display: none;
}

.sub-menu-section.active {
    display: block;
}


/* .opened {
    display: block;
} */

.active-mn {
    display: block;
}

.sub-menu .sidebar-item {
    height: 35px;
}

.sub-menu .sidebar-text {
    font-size: 14px;
    color: #b8bdc6 !important;
}

.sub-menu-sec {
    justify-content: space-between;
    cursor: pointer;
}

.sidebar-text {
    color: #fff !important;
    font-size: 16px;
    letter-spacing: 0.8px;
}

.sidebar-item {
    display: flex;
    /* margin-bottom: 10px; */
}

.sidebar-sec-3 .sidebar-item {
    display: flex;
    margin-bottom: 2px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.sidebar-sec-3 .sidebar-item.activate,
.sidebar-sec-3 .sidebar-item:hover {
    background-color: #20304C;
}

.sidebar-sec-3 .sidebar-item p {
    margin-bottom: 0 !important;
}


/* .sidebar-item:hover {
    background-color: #354057;
} */

@media only screen and (max-width: 768px) {
    #main-head {
        display: none !important;
        position: fixed;
        z-index: 999;
        margin-top: 55px;
        height: 65vh;
        overflow-y: scroll;
    }
    #main-head.active {
        display: block !important;
    }
}

@media only screen and (min-width: 768px) {
    #main-head {
        display: none !important;
        position: fixed;
        z-index: 999;
        margin-top: 65px !important;
        height: 92.8vh;
        overflow-y: scroll;
    }
    .main-d-flex {
        display: flex;
    }
    #main-head.active {
        display: block !important;
    }
}

@media only screen and (min-width: 992px) {
    #main-head {
        display: block !important;
        position: fixed;
        margin-top: 65px !important;
        height: 92.8vh;
        overflow-y: scroll;
    }
    .main-d-flex {
        display: flex;
    }
    .vertical-collpsed .main-content,
    .main-content {
        margin-left: 15.6rem !important;
    }
}

.sub-menu {
    padding-top: 10px;
    margin-top: 2px;
}

.sub-menu.activate,
.sub-menu:hover {
    background-color: #20304C;
    border-radius: 5px;
}

.sub-menu.activate p,
.sub-menu.activate i {
    color: #fff !important;
}