#page-topbar {
    background-color: #0C1A32;
}

.main-sidebar {
    background-color: #0C1A32;
}

.card {
    background-color: #0C1A32;
    border-color: #0C1A32;
}

body {
    background-color: #20304C;
}

.form-control {
    background-color: rgba(32, 48, 76, 0.7);
    border-color: rgba(32, 48, 76, 0.7) !important;
}

.swal2-modal {
    background-color: #20304C !important;
}

html ::-webkit-scrollbar {
    width: 0 !important;
}

.mt-20px {
    margin-top: 20px !important;
}

.h-20 {
    height: 20px !important;
}

.h-50px {
    height: 50px !important;
}

.h-30px {
    height: 30px !important;
}

.opacity-0\.85 {
    opacity: 0.85 !important;
}

.f-20px {
    font-size: 20px !important;
}

.p-log-card {
    padding: 1.5rem 1.25rem !important;
}

.p-0\.75rem {
    padding: 0.75rem !important;
}

.mb-11px {
    margin-bottom: 12px !important;
}

.text-6083d9 {
    color: #6083d9 !important;
}

@media only screen and (max-width: 600px) {
    .w-lg-500px {
        width: 300px !important;
    }
}

@media only screen and (min-width: 600px) {
    .w-lg-500px {
        width: 300px !important;
    }
}

@media only screen and (min-width: 992px) {
    .w-lg-500px {
        width: 500px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .w-lg-500px {
        width: 800px !important;
    }
}

.w-100px {
    width: 100px !important;
}

.card-body-log {
    padding: 1.53rem 1.25rem !important;
}

.card-body-log2 {
    padding: 1.9rem 1.25rem !important;
}

.min-h-174px {
    min-height: 174px !important;
}

@media only screen and (max-width: 992px) {
    .icon-hide-sm {
        display: none !important;
    }
}

@media only screen and (max-width:768px) {
    .d-sm-grid {
        display: grid !important;
    }
    .pr-btn-0 {
        padding-right: 0 !important;
    }
}

.start-btn:hover,
.start-btn:focus {
    background-color: #6083d9 !important;
    border-color: #6083d9 !important;
    color: #fff !important;
}

.stop-btn:hover,
.stop-btn:focus {
    background-color: #d9304e!important;
    border-color: #d9304e!important;
    color: #fff !important;
}


/* switch css start */

.switch3 {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 37px;
    border-radius: 37px;
    background-color: #f3f4f4;
    cursor: pointer;
    transition: all .3s;
    overflow: hidden;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
}

.switch3 input {
    display: none;
}

.switch3 input:checked+div {
    left: calc(80px - 32px);
    box-shadow: 0px 0px 0px white;
}

.switch3 div {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 27px;
    background-color: white;
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px 1px rgb(150, 150, 150);
    transition: all .3s;
}

.switch3 div:before,
.switch3 div:after {
    position: absolute;
    content: 'on';
    width: calc(80px - 40px);
    height: 37px;
    line-height: 37px;
    font-size: 14px;
    font-weight: bold;
    top: -5px;
}

.switch3 div:before {
    content: 'off';
    color: rgb(120, 120, 120);
    left: 100%;
}

.switch3 div:after {
    content: 'on';
    right: 100%;
    color: white;
}

.switch3-checked {
    background-color: #e74c3c;
    box-shadow: none;
}


/* switch css end */

.h-40 {
    height: 40px !important;
}

#one-shot,
#stop-margin {
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    .font-lg-12 {
        font-size: 12px !important;
    }
}

@media only screen and (min-width: 1510px) {
    .font-lg-12 {
        font-size: 14px !important;
    }
}

.w-70px {
    width: 53px !important;
}

.form-trade {
    background-color: transparent !important;
    color: #fff !important;
    border-color: transparent !important;
}

.p-trade-card {
    padding: 0.5rem 1.25rem !important;
}

.border-bottom-trade {
    border-bottom: 1px solid #354057 !important;
}

.py-0\.65rem {
    padding-top: 0.65rem !important;
    padding-bottom: 0.65rem !important;
}

.input-focus,
.margin-card {
    cursor: pointer;
}

.margin-card {
    background-color: #12003c;
    border-radius: 0.75rem;
}

.margin-card-body {
    padding: .5rem 1.25rem;
}

.form-control:focus {
    color: #000 !important;
}

.min-w-40px {
    min-width: 40px !important;
}

.pr-10px {
    padding-right: 10px !important;
}

input[switch]+label:before {
    right: 5px !important;
    margin: 3px !important;
    top: -1px !important;
}

input[switch]+label:after {
    height: 18px !important;
    width: 18px !important;
    top: 3px !important;
}

input[switch]:checked+label:before {
    left: -13px;
    top: -1.5px !important;
}

.h-input {
    height: calc(1.5em + 0.94rem + -6px) !important;
}

.border-radius-2 {
    border-radius: 0.5rem !important;
}

.text-gold-new {
    color: gold !important;
}

@media only screen and (max-width: 600px) {
    .d-xsm-grid {
        display: grid !important;
    }
}

.w-175px {
    width: 175px !important;
}

.px-0\.65rem {
    padding-left: 0.65rem !important;
    padding-right: 0.65rem !important;
}

.min-w-57px {
    min-width: 57px !important;
}

.page-item.active .page-link {
    background-color: #6083d9 !important;
    border-color: #6083d9 !important;
}

.page-item.disabled .page-link {
    background-color: #20304c !important;
    border-color: #20304c !important;
    opacity: 0.7;
}

.bg-0e0031 {
    background-color: #0e0031 !important;
}

.h-35 {
    height: 35px !important;
}

@media only screen and (max-width: 600px) {
    .visible-xs {
        display: block !important;
    }
}

@media only screen and (min-width: 600px) {
    .visible-xs {
        display: none !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.dropzone {
    background: #354057 !important;
    padding: 16px 20px !important;
    height: 60px !important;
}

.modal-card {
    width: 100%;
    height: auto !important;
    max-height: 76vh;
    overflow-y: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modal-card::-webkit-scrollbar {
    width: 0 !important;
}

.modal-head-card {
    width: 100%;
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.w-93px {
    width: 93px !important;
}

#odertype::placeholder {
    color: #000 !important;
}

.mr-22px {
    margin-right: 22px !important;
}

.mr-17px {
    margin-right: 17px !important;
}

.pl-6 {
    padding-left: 6.75px !important;
}

.pr-6 {
    padding-right: 6.75px !important;
}

.model-margin:nth-of-type(odd) {
    background-color: #0C1A38 !important;
    padding: 0 12px 15px 12px !important;
    border-radius: 0.75rem !important;
    margin-bottom: 7px;
}

.model-margin:nth-of-type(even) {
    background-color: #0F2040 !important;
    padding: 0 12px 15px 12px !important;
    border-radius: 0.75rem !important;
    margin-bottom: 7px;
}

.model-margin input::placeholder {
    color: rgba(0, 0, 0, 0.7) !important;
}

#bot-histoty.table-responsive-lg::-webkit-scrollbar {
    height: 0 !important;
}

@media only screen and (min-width: 992px) {
    .mt-md-n8 {
        margin-top: -175px !important;
    }
}

.profit-amt {
    color: #02c076!important;
}

.profit-head {
    color: #fff!important;
}

@media only screen and (max-width: 600px) {
    .profit-amt {
        font-size: 20px !important;
    }
    .profit-head {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 768px) {
    .theme-border-mobile {
        border: 3px solid white !important;
        border-radius: 1.25rem;
    }
    .theme-border-web {
        border: none !important;
    }
}

@media only screen and (min-width: 768px) {
    .theme-border-web {
        border: 3px solid white !important;
        border-radius: 1.25rem;
    }
    .theme-border-mobile {
        border: none !important;
    }
}

.p-1\.25 {
    padding: 1.25rem !important;
}

.reward-badge-img1 {
    height: 65px;
    width: 65px;
    position: absolute;
    top: -18px;
    left: -22px;
    z-index: 20 !important;
}

.reward-badge-img2 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -14px;
    left: -12px;
    z-index: 20 !important;
}

.reward-badge-img3 {
    height: 53px;
    width: 53px;
    position: absolute;
    top: -14px;
    left: -13px;
    z-index: 20 !important;
}

.reward-badge-img4 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -14px;
    left: -13px;
    z-index: 20 !important;
}

.reward-badge-img5 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -14px;
    left: -10px;
    z-index: 20 !important;
}

.reward-badge {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 65%;
    background: #6083d9;
    padding: 5px 0 5px 45px;
    font-size: 20px;
    font-weight: 500;
    border-top-left-radius: 1.25rem !important;
    color: #fff;
}

.reward-badge:after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: -20px;
    width: 40px;
    background: inherit;
    transform: skew(-30deg);
}

@media only screen and (max-width: 768px) {
    .table-date {
        display: grid !important;
    }
    .table-dash {
        display: none !important;
    }
    .table-date-text {
        font-size: 16px;
        font-weight: 500;
    }
    .table-year-text {
        font-size: 13px;
        opacity: 0.7;
    }
    .table-team-income.table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child,
    .table-team-income.table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
        padding-left: 12px !important;
    }
    .profit-text {
        font-size: 18px;
        font-weight: 600;
        color: #02c076!important;
        letter-spacing: 1px;
    }
    .p-table-0 {
        padding: 0;
    }
    .width-50p {
        width: 50% !important;
    }
    .web-hidden {
        display: block !important;
    }
}

@media only screen and (min-width: 768px) {
    .profit-text {
        font-size: 18px;
        font-weight: 600;
        color: #02c076!important;
        letter-spacing: 1px;
    }
    .w-sm-50 {
        width: auto !important;
    }
    .web-hidden {
        display: none !important;
    }
}

.badge-success {
    font-weight: 500;
}

.margin-scroll {
    max-height: 45vh !important;
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.margin-scroll::-webkit-scrollbar {
    width: 0 !important;
}

.p-24 {
    padding: 24px !important;
}

.table-d-none {
    display: none !important;
}


/* .gradient-bg-1 {
    background: linear-gradient(27deg, #6c81fe, #29cbfd);
}

.gradient-bg-2 {
    background: linear-gradient(27deg, #ff978b, #ff6e88);
}

.gradient-bg-3 {
    background: linear-gradient(27deg, #0ab3e5, #27ef9e);
}

.gradient-bg-4 {
    background: linear-gradient(25deg, #777cfe, #f282ee);
} */

.vertical-collpsed .main-content,
.main-content {
    margin-left: 0;
    width: 100%;
}

.page-content {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 64px;
    margin: 0;
}

.mx-cryp {
    padding-left: 16px;
    padding-right: 16px;
}

.px-3px {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.mb-6px {
    margin-bottom: 6px !important;
}

.form-padding {
    padding: 8px 16px 4px 16px;
}

.form-control {
    background: rgba(53, 64, 87, 0.7) !important;
    color: #fff;
}

.form-control:focus {
    background: rgba(53, 64, 87, 0.7) !important;
    color: #fff !important;
}

.card-wallet-coin {
    /* background-color: rgba(53, 64, 87, 0.7); */
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 3px;
    flex: auto;
    border: 3px solid transparent;
    cursor: pointer;
    margin-bottom: 6px;
}


/* .card-body:hover {
    z-index: 10;
    transform: scale(1.01);
} */

.card-usdt-trc:hover,
.card-usdt-trc.active {
    border-color: #099670;
}

.card-eth:hover,
.card-eth.active {
    border-color: #627eea;
}

.card-bnb:hover,
.card-bnb.active {
    border-color: #f3ba2f;
}

.card-btc:hover,
.card-btc.active {
    border-color: #f7931a;
}

.card-usdt-erc:hover,
.card-usdt-erc.active {
    border-color: #099670;
}

.card-pwt:hover,
.card-pwt.active {
    border-color: #2dd2b6;
}

.card-wallet-coin .card-body {
    padding: 1.15rem !important;
}

.deposit-image {
    height: 50px;
}

.wallet-coin-head {
    margin-bottom: 4px;
}

.wallet-coin-head small {
    font-size: 14px;
    opacity: 0.8;
}

.wallet-amount {
    text-align: right;
    font-size: 16px;
    margin-bottom: 0;
}

.text-trc20 {
    color: #35a587;
    font-weight: 700;
    letter-spacing: 0.7px;
}

.text-eth {
    color: #839af5;
    font-weight: 700;
    letter-spacing: 0.7px;
}

.text-bnb {
    color: #f3ba2f;
    font-weight: 700;
    letter-spacing: 0.7px;
}

.text-btc {
    color: #f7931a;
    font-weight: 700;
    letter-spacing: 0.7px;
}

.text-pwt {
    color: #46f2d4;
    font-weight: 700;
    letter-spacing: 0.7px;
}

.deposit-card .card-body {
    padding: 1.15rem;
}

.deposite-head {
    font-size: 18px;
    border-bottom: 1px solid #4b5563;
    padding-bottom: 14px;
}

.deposite-head small {
    font-size: 12px;
    color: #ff5a76;
    letter-spacing: 0.8px;
}

.deposite-head span {
    font-size: 13px;
    letter-spacing: 0.8px;
}

.deposit-amt h6 {
    margin-left: 0.25rem;
}

.deposit-amt input {
    margin-right: 10px;
}

.deposite-input-sec {
    display: flex;
}

.deposite-input-sec .btn {
    padding: 0 0.75rem !important;
}

.opacity-0\.6 {
    opacity: 0.6 !important;
}

.text-46f2d4 {
    color: #46f2d4 !important;
}

.mb-0\.3 {
    margin-bottom: 0.3rem !important;
}

.badge-theme {
    color: #46f2d4;
    background-color: rgba(70, 242, 212, 0.22);
}

.profile-font-2 {
    color: #46f2d4 !important;
    background-color: rgba(70, 242, 212, .15)!important;
    border: 2px solid #46f2d4 !important;
}

.bg-img-btn {
    background-image: url(../images/wallet_background/btn-bg.png);
    background-position: center;
    background-size: cover;
}

.mt-2rem {
    margin-top: 2rem !important;
}

.pt-0\.18 {
    padding-top: 0.18rem !important;
}

.icon-circle {
    position: absolute;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    text-align: center;
    left: -6px;
    background: #5790a7;
    z-index: 200;
    top: 54px;
}

.icon-circle img {
    margin-top: 10px;
}

.header-strip {
    background-color: #5790a7;
    position: absolute;
    width: 200px;
    right: 20px;
    top: 17px;
    z-index: 150;
    height: 35px;
    font-size: 20px;
    text-align: right;
    padding: 1px 10px 0 0;
}

.header-strip::before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -20px;
    width: 40px;
    background: inherit;
    transform: skew(315deg);
}

.my-status-card {
    margin-left: 8px;
    min-height: 110px;
    margin-top: 33px;
    margin-bottom: 0 !important;
}

.ml-stat-mobile {
    margin-left: 20px !important;
}

.my-status-card:hover {
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.p-mystat-card {
    padding-left: 35px;
    padding-top: 14px;
}

.my-stat-amt {
    font-size: 26px;
    color: #46f2d4;
    /* text-align: center; */
}

.my-stat-text {
    margin-bottom: 0.25rem !important;
    font-size: 13px;
}

.bg-input2 {
    background-color: #0C1A32 !important;
}

.mb-6px {
    margin-bottom: 6px !important;
}

.pl-0\.75rem {
    padding-left: 0.75rem !important;
}

@media only screen and (max-width: 992px) {
    .show-web {
        display: none !important;
    }
    .show-mobile {
        display: block !important;
    }
    .header-strip-mobile {
        right: 4px !important;
        top: -17px !important;
        color: #fff !important;
    }
    .icon-circle-mobile {
        top: 22px !important;
    }
    .my-stat-text {
        color: #fff !important;
    }
}

@media only screen and (min-width: 992px) {
    .show-mobile {
        display: none !important;
    }
    .show-web {
        display: block !important;
    }
}

.invite-card {
    background-color: #5790a7;
    display: flex;
    padding-right: 1rem;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .ref-card-head {
        font-size: 26px;
        padding: 0.75rem;
    }
    .ref-icon-sec {
        height: 50px;
        width: 55px;
        background-color: #2b2e3d;
        padding: 10px 7px;
        text-align: center;
    }
    .ref-icon {
        color: #d9d9d9;
        font-size: 30px;
    }
}

@media only screen and (min-width: 600px) {
    .ref-card-head {
        font-size: 30px;
        padding: 1rem;
    }
    .ref-icon-sec {
        height: 60px;
        width: 65px;
        background-color: #2b2e3d;
        padding: 12px 7px;
        text-align: center;
    }
    .ref-icon {
        color: #d9d9d9;
        font-size: 35px;
    }
}

.ref-content {
    display: flex;
}

.ref-content h4 {
    flex: none;
    margin-right: 30px;
    padding-top: 5px;
}

.ref-content input {
    margin-right: 10px;
}

.p-coin-stat {
    padding: 1.05rem 0.75rem !important;
}

.pl-3px {
    padding-left: 3px !important;
}

.pr-3px {
    padding-right: 3px !important;
}

.px-4px {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.px-9px {
    padding-right: 9px !important;
    padding-left: 9px !important;
}


/* .container-fluid {
    padding-right: 8px !important;
    padding-left: 8px !important;
} */

html {
    scrollbar-width: none !important;
}

#main-head {
    scrollbar-width: none !important;
}

.bg-input3 {
    background-color: #20304c !important;
    border-color: #20304c !important;
    color: #fff !important;
}

.bg-0C1A32 {
    background-color: #0C1A32;
}