.nav-item .nav-link,
.nav-tabs .nav-link {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"] i {
    -webkit-transition: transform 150ms ease 0s;
    -moz-transition: transform 150ms ease 0s;
    -o-transition: transform 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: transform 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.now-ui-icons {
    display: inline-block;
    font: normal normal normal 14px/1 'Nucleo Outline';
    font-size: inherit;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-tabs {
    border: 0;
    padding: 15px 0.7rem;
}

.nav-tabs:not(.nav-tabs-neutral)>.nav-item>.nav-link.active {
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: 1px solid transparent;
    border-color: transparent !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: transparent !important;
}

.nav-tabs>.nav-item>.nav-link {
    color: #d9d9d9;
    font-weight: 500;
    margin: 0;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 14px;
    padding: 11px 23px;
    line-height: 1.5;
    border: 1px solid #0c1a32 !important;
}

.nav-tabs>.nav-item>.nav-link:hover {
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border-color: transparent !important;
}

.nav-tabs>.nav-item>.nav-link.active {
    background-color: #0c1a32 !important;
    border-color: #0c1a32 !important;
    border-radius: 30px;
    color: #FFFFFF;
}

.nav-tabs>.nav-item>.nav-link i.now-ui-icons {
    font-size: 14px;
    position: relative;
    top: 1px;
    margin-right: 3px;
}

.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link {
    color: #FFFFFF;
}

.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}

.now-ui-icons {
    display: inline-block;
    font: normal normal normal 14px/1 'Nucleo Outline';
    font-size: inherit;
    speak: none;
    text-transform: none;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
    .nav-tabs {
        /* display: inline-block; */
        display: flex;
        width: 100%;
        /* padding-left: 100px;
        padding-right: 100px; */
        text-align: center;
    }
    .nav-tabs .nav-item>.nav-link {
        margin-bottom: 5px;
    }
}

.nav-tabs>.nav-item>.nav-link.active.tab-mystat {
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.nav-tabs>.nav-item>.nav-link.tab-mystat {
    padding: 0 !important;
    box-shadow: none !important;
}

.nav-tabs>.nav-item>.nav-link.active.tab-mystat .my-status-card {
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3) !important;
}

.nav-tabs>.nav-item>.nav-link.tab-mystat {
    border: 0 !important;
}