.pricing-table--small {
	background-color: #0e0031;
	border: 3px solid white;
	border-radius: 20px;
	margin-bottom: 40px;
	text-align: left;
}

.crumina-pricing-table {
    transition: all .3s ease;
    position: relative;
    padding: 40px;
}

.pricing-table--small:hover {
	/* border-color: #ffba00; */
	border-radius: 1.25rem;
	border: solid 3px white;
/*	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #080808, #2d5ad9, #4f58c3, #525074, #4c4d7a, #2733c3, #060ef7);*/
	background-origin: border-box;
	background-clip: content-box, border-box;
/*	box-shadow: 2px 10000px 1px lightsteelblue inset;*/
}

.pricing-table--small .pricing-thumb {
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-align: center;
    /* -webkit-align-items: center;
    -ms-flex-align: center; */
    align-items: center;
    margin-bottom: 20px;
}

.pricing-table--small .pricing-title {
    margin: 0;
    font-size: 24px;
}

.pricing-table--small .gain-drop-arrow {
    margin-left: auto;
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-align: center;
    /* -webkit-align-items: center;
    -ms-flex-align: center; */
    align-items: center;
}

.fa-long-arrow-up,
.fa-long-arrow-down {
    font-size: 42px !important;
}

.arrow-active {
    color: #8dc647;
}

.arrow-grey {
    color: #666d7a;
}

.arrow-inactive {
    color: #ff3133;
}

.crumina-pricing-table .price {
    position: relative;
    margin-bottom: 25px;
}

.crumina-pricing-table .price-sup-title {
    color: #666d7a;
    font-weight: 700;
}

.crumina-pricing-table .price .price-value {
    color: #ffba00;
    font-weight: 700;
    font-size: 28px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.pricing-table--small .price-value .growth {
    color: #8dc647;
}

.pricing-table--small .price-value {
    font-size: 48px;
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; */
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pricing-table--small .price-value .growth,
.pricing-table--small .price-value .drop {
    font-size: 20px;
    font-weight: 700;
}

.pricing-table--small .price-value .drop {
    color: #ff3133;
}

.pricing-table--small .pricing-title > span {
	display: block;
	font-size: 20px;
	color: #6083d9;
}

.pricing-table--small .pricing-thumb img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.btn--transparent.btn--dark-lighter {
    color: #666d7a;
}

.btn--dark-lighter {
    border: 5px solid #22252c;
    background-color: #22252c;
    color: #666d7a;
}

.btn--large {
    font-size: 18px;
    border-radius: 30px;
    padding: 17px 34px;
}

.btn--transparent {
    background-color: transparent;
}

.btn--transparent.btn--dark-lighter:hover {
    background-color: #22252c;
    color: #fff;
}

.mt-11px {
    margin-top: 11px !important;
}

@media only screen and (max-width: 600px) {
    .icon-wallet-dw {
        display: grid !important;
    }
}

@media only screen and (min-width: 600px) {
    .mt-sm-25px {
        margin-top: 25px !important;
    }
}

.settingcondition{
    padding: 10px;
}


