/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .winer {
        display: block!important;
    }
    .winerweb {
        display: none!important;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .winer {
        display: block!important;
    }
    .winerweb {
        display: none!important;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .winer {
        display: none!important;
    }
    .winerweb {
        display: block!important;
    }
}

.grdbtn {
    background: linear-gradient(90deg, #00B4DB 0%, #0083B0 100%);
}


/* ==================================== SIDENAV CSS =============================== */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    /* background-color: #030239; */
    /* background: linear-gradient(90deg, #004e92 0%, #000428 100%); */
    background-color: #12003c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.sidenav a {
    padding: 8px 14px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: -16px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* @media screen and (max-width: 350px) {
    .sidenav {
        width: 300px !important;
    }
} */