@media only screen and (max-width:768px) {
    .txt-center-sm {
        text-align: center !important;
    }
}

@media only screen and (max-width: 992px) {
    .head-visible-md {
        font-size: 40px;
        font-weight: 400 !important;
        visibility: visible;
        animation-duration: 1.0s;
        animation-name: fadeInUp;
        display: block !important;
        color: #fff;
    }
    .head-hide-md {
        display: none !important;
    }
    .mt-md-20px {
        margin-top: 20px !important;
    }
}

@media only screen and (min-width: 992px) {
    .h-md-350px {
        height: 350px !important;
    }
    .head-visible-md {
        display: none !important;
    }
    .head-hide-md {
        font-size: 40px;
        font-weight: 400 !important;
        visibility: visible;
        animation-duration: 1.0s;
        animation-name: fadeInUp;
        display: block !important;
        color: #fff;
    }
}

@media only screen and (max-width: 600px) {
    .iconapi {
        height: 25px !important;
        width: 35px !important;
        margin-top: -10px;
    }
}

@media only screen and (min-width: 600px) {
    .iconapi {
        height: 40px !important;
        width: 50px !important;
        margin-top: -10px;
    }
}

@media only screen and (max-width: 1200px) {
    .mr-lg-l50 {
        margin-left: 0 !important;
    }
    .mr-lg-r50 {
        margin-right: 0 !important;
    }
}

@media only screen and (min-width: 1200px) {
    .mr-lg-l50 {
        margin-left: 50px !important;
    }
    .mr-lg-r50 {
        margin-right: 50px !important;
    }
}

@media only screen and (max-width: 480px) {
    .video-des .deslidt ul li .left-con .box-con .dbox,
    .video-des .deslidt ul li .right-con .box-con .dbox,
    .video-des .deslidt ul li .center-con .box-con .dbox {
        height: auto !important;
    }
}


/* mobile slider css start */

.dm-width {
    width: 500px;
    margin: 0 auto;
}

.iphone-mockup {
    position: relative;
    z-index: 5;
}

.dm-device {
    position: relative;
    width: 100%;
    /* padding-bottom: 203.477897%; */
    margin-bottom: 20px;
}

.device {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 330px;
    height: 600px;
    -webkit-background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../frontforxenbot/images/banner/mobile_screen.png);
    /* background-size: cover; */
    background-position: center center;
}

.screen {
    overflow: hidden;
    position: absolute;
    top: 18.1%;
    bottom: 20.6%;
    left: 12.49%;
    right: 17.4%;
    /* background-color: #E91E63; */
}

.slider {
    height: 100%;
}

.slider div {
    height: 100%;
}

.slider__item {
    font-size: 100px;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .slider__item--1 {
    background-color: #E91E63;
}

.slider__item--2 {
    background-color: #2196F3;
}

.slider__item--3 {
    background-color: #4CAF50;
}

.slider__item--4 {
    background-color: #FFC107;
} */


/* mobile slider css end */

@media only screen and (max-width: 768px) {
    .pb-xsm-15px {
        padding-bottom: 15px !important;
    }
}

@media only screen and (max-width: 992px) {
    .pt-sm-20px {
        padding-top: 0 !important;
    }
    .pt-sm-10px {
        padding-top: 10px !important;
    }
}

@media only screen and (min-width: 992px) {
    .pt-sm-20px {
        padding-top: 20px !important;
    }
    .pt-sm-10px {
        padding-top: 10px !important;
    }
}

.h-190 {
    height: 190px !important;
}

@media only screen and (max-width: 600px) {
    .logo-head {
        width: 60% !important;
    }
    .privacy-section {
        padding-top: 110px;
        padding-bottom: 50px;
    }
    .privacy-heading-text {
        font-size: 34px;
        text-align: center;
        color: #fff;
    }
}

@media only screen and (min-width: 600px) {
    .logo-head {
        width: 60% !important;
    }
    .privacy-section {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .privacy-heading-text {
        font-size: 36px;
        text-align: center;
        color: #fff;
    }
}

@media only screen and (min-width: 768px) {
    .logo-head {
        width: 200px !important;
    }
    .privacy-section {
        padding-top: 170px;
        padding-bottom: 50px;
    }
    .privacy-heading-text {
        font-size: 42px;
        text-align: center;
        color: #fff;
    }
}

@media only screen and (min-width: 992px) {
    .logo-head {
        width: 215px !important;
    }
    .privacy-section {
        padding-top: 180px;
        padding-bottom: 50px;
    }
    .privacy-heading-text {
        font-size: 42px;
        text-align: center;
        color: #fff;
    }
}

@media only screen and (min-width: 1200px) {
    .logo-head {
        width: 215px !important;
    }
    .privacy-section {
        padding-top: 180px;
        padding-bottom: 50px;
    }
    .privacy-heading-text {
        font-size: 42px;
        text-align: center;
        color: #fff;
    }
}

@media only screen and (max-width: 768px) {
    .option-image-mob {
        display: block !important;
        height: 500px;
        width: auto !important;
        margin-left: auto;
        margin-right: auto;
    }
    .option-image-web {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) {
    .option-image-web {
        display: block !important;
        height: 350px !important;
    }
    .option-image-mob {
        display: none !important;
    }
}

.relative {
    position: relative;
}

.z-20 {
    z-index: 20;
}

@media only screen and (min-width: 1024px) {
    .lg\:w-4\/12 {
        width: 33.333333%;
    }
}

.rotate-12 {
    --tw-rotate: 12deg;
}

.-rotate-90,
.rotate-12 {
    transform: var(--tw-transform);
}

.absolute {
    position: absolute;
}

@media only screen and (min-width: 768px) {
    .md\:p-3 {
        padding: 0.75rem;
    }
}

@media only screen and (min-width: 768px) {
    .md\:rounded-\[50px\] {
        border-radius: 50px;
    }
}

.z-10 {
    z-index: 10;
}

.rounded-\[35px\] {
    border-radius: 35px;
}

.self-center {
    align-self: center;
}

@media only screen and (max-width: 992px) {
    .mob-screen,
    .mob-vedio {
        display: none !important;
    }
}

@media only screen and (min-width: 992px) {
    .mob-screen,
    .mob-vedio {
        width: 280px !important;
    }
}