.container>div .group2 {
    display: block;
    text-align: left;
    padding-left: 70px;
    font: 22px sans-serif;
    position: relative;
    top: 0;
    left: 0
}

.container>div .group2>i {
    position: absolute;
    right: 30px;
    bottom: 11px;
    cursor: pointer
}

.mt-4rem {
    margin-top: 4rem !important;
}

.text-gold {
    color: gold !important;
}


/* @media only screen and (min-width: 768px) {
    h2 {
        font-size: 54px;
        line-height: 64px;
        margin-top: -20px;
    }
} */

h2 {
    font-size: 42px;
    line-height: 46px;
    margin-top: -16px;
}

.text-center {
    text-align: center !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.verify_loader {
    width: 150px;
    height: 150px;
}

.text-3b368c {
    color: #3b368c !important;
}

.text-5b5b5b {
    color: #5b5b5b !important;
}

.box-shadow-none {
    box-shadow: none !important;
}

.terms-checkbox {
    width: 7% !important;
    height: 20px !important;
}

.text-c99728 {
    color: #c99728 !important;
}

.redClass {
    color: red !important;
}

@media only screen and (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
    .hide-web {
        display: block !important;
    }
}

@media only screen and (min-width: 768px) {
    .hide-web {
        display: none !important;
    }
}