.testimonials {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 50px 0; */
    font-family: 'Poppins', sans-serif
}


/* .testimonials::before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 216, 50, .7);
} */

.testimonials .title {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    padding: 20px 0;
    max-width: 600px;
    margin: 0 auto;
}

.testimonials .title h5 {
    color: #EB6D2F;
    line-height: 1.2em;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: -3px;
}

.testimonials .title h2 {
    color: #5A3733;
    line-height: 1.2em;
    font-weight: 900;
    font-size: 41px;
    letter-spacing: -1px;
    margin: 0
}

.testimonials .title img {
    margin-top: -10px;
}

.testimonials .title p {
    margin: 0 0 10px;
    margin-bottom: 0;
    color: #5A3733;
}

.testimonials .testi .item {
    background-color: #fff;
    background-image: url(../css/img/feature-bg.jpg);
    background-size: cover;
    padding: 20px 15px;
    border-radius: 15px;
    min-height: 215px;
}

.testimonials .testi .item .profile {
    display: flex;
    padding-left: 15px;
}

.testimonials .testi .item .profile img {
    border-radius: 100%;
    width: 75px;
    height: 75px;
    object-fit: cover;
    /* border: 3px solid gray; */
}

.testimonials .testi .item .profile .information {
    padding-left: 20px;
    margin-bottom: 15px
}

.testimonials .testi .item .profile .information .stars i {
    /* color: #ffd832 */
    color: goldenrod
}

.testimonials .testi .item .profile .information p {
    font-size: 24px;
    margin: 0px auto 0px;
    /* color: #5A3733; */
    font-weight: 900;
    line-height: 1;
}

.testimonials .testi .item .profile .information span {
    color: #c99728;
    font-weight: bold;
    margin-top: -4px;
    line-height: 1.6em;
    font-size: 14px;
}

.testimonials .testi .item>p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.6em;
    display: block;
    z-index: 2;
    font-style: italic;
    color: #d9d9d9;
    text-align: center;
}

.testimonials .testi .item .icon {
    text-align: center;
}

.testimonials .testi .item .icon i {
    font-size: 32px;
    color: #FFD832;
}

.star-gray {
    color: gray !important;
}