{% include "comman/header.html"%}
{% load static %}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
<div class="page-content" ng-controller="coin_status" ng-init="get_user_info('{{coin_n}}')">
    <div class="container-fluid">
        <div class="row mt-20px">
            <div class="col-xl-2 col-lg-1"></div>
            <div class="col-xl-8 col-lg-10">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card theme-border">
                            <div class="card-body">
                                <div class="d-flex">
                                   
                                    <img class="h-35" src="{% static 'user_panel' %}/images/coins/{{coin_n}}.png">
                                    <h3 class="pl-3 pt-1" id="coinnamefuture" value='{{coin_n}}'>
                                        {{coin_n}}
                                    </h3>
                                </div>
                                <div class="opacity-0.85">
                                    <div class="row mt-2">
                                        <div class="col-md-4 col-sm-6 col-xsm-6">
                                            <h4 class="mb-0">
                                                {{balance|floatformat:4}}
                                            </h4>
                                            <h6 class="text-light">Position<br>Amount(USDT)</h6>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xsm-6">
                                            <h4 class="mb-0" id="{{coin_n}}-cf"></h4>
                                            <h6 class="text-light">Current Price</h6>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xsm-6">
                                            <h4 class="mb-0" id="{{coin_n}}-pf"></h4>
                                            <h6 class="text-light">Change</h6>
                                        </div>

                                        {% comment %} addby deep {% endcomment %}
                                        <div class="col-md-4 col-sm-6 col-xsm-6">
                                            <h4 class="mb-0" id="{{coin_n}}-bl">{{totalWalletBalance |floatformat:4}}</h4>
                                            <h6 class="text-light">Total Wallet Balance</h6>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xsm-6">
                                            <h4 class="mb-0" id="{{coin_n}}-cr">{{totalMarginBalance|floatformat:4}}</h4>
                                            <h6 class="text-light">Total Margin Balance</h6>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xsm-6">
                                            <h4 class="mb-0" id="{{coin_n}}-cb">{% if positionAmt == 0 %}No Position in{% else %} {{positionAmt|floatformat:10}} {%endif %} {{coin_n|cut:"USDT"}}</h4>
                                            <h6 class="text-light">Position</h6>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card theme-border">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3 class="pt-1">Select your option</h3>
                                </div>
                                <div>
                                    <div class="row mt-2">
                                        <div class="col-sm-6 col-xsm-6" ng-click="submit_form_futuretred($event,'SELL')">
                                            <div class="text-center">
                                                <i class="fab fa-sellsy text-info fa-2x"></i>
                                                <h6 class="text-light">Sell</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xsm-6" >
                                            <div class="text-center" ng-click="submit_form_futuretred($event,'BUY')">
                                                <i class="far fa-hand-pointer text-info fa-2x"></i>
                                                <h6 class="text-light">Buy</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xsm-6" ng-click="submit_form_futuretred($event,'BOT')">
                                            <div class="text-center">
                                                <i class="fab fa-sellsy text-info fa-2x"></i>
                                                <h6 class="text-light">Bot Start</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row mt-2">
                                        <div class="col-sm-6 col-xsm-6">
                                            <div class="text-center">
                                                <h4 class="mb-0" id="{{coin_n}}-maxv">{% if unrealizedProfit == 0 %}{{ unrealizedProfit| floatformat:4}}{% else %}{{ unrealizedProfit| floatformat:4}}{% endif %}</h4>
                                                <h6 class="text-light">PNL</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xsm-6">
                                            <div class="text-center" >
                                                <h4 class="mb-0" id="maxcum">{% if variable %}{{ variable}}{% else %}0.0{% endif %}</h4>
                                                <h6 class="text-light">Cost Price</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form method="post" name="addbid" >
                            {% csrf_token %}
                            <div class="col-md-12">
                                <div class="card theme-border">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <input type="radio" class="message_pri" name="message_pri"
                                                    value="CROSSED" /> CROSSED
                                                <input type="radio" class="message_pri" name="message_pri"
                                                    value="ISOLATED" {% if isolated != "True" %} checked {% endif %} /> ISOLATED
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-info btn-block" id="leverage"
                                                    ng-model="levrageperce" data-toggle="modal"
                                                    data-target="#myModal">{{leverageset}}x</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card theme-border">
                                    <div class="card-body">
                                        <!-- <div class="row">
                                        <form method="post">
                                            
                                            <div class="col-6">
                                                <button class="btn btn-info btn-block">Stoploss</button>
                                                <input name="fname" id="name" ng-model="fname" type="text">
    
                                            </div>
                                            <div class="col-6">
                                                <button ng-click="submit_form_futuretred($event)">Save</button>
                                            </div>
                                        </form>
                                    </div> -->
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <h6 class="f-price-head">Price</h6>
                                                <input type="text" class="form-control price-value" placeholder="Price"
                                                    id="{{coin_n}}-futuretradelastpoint" value="">
                                                <a href="" class="price-last-val">last</a>
                                                <label class="price-label">USDT</label>
                                            </div>
                                            <div class="col-xl-6">
                                                <h6 class="f-price-head">Size(Min:{{current_price|floatformat:4 }})</h6>
                                                <input type="text" maxlength="10" id="{{coin_n}}-size"
                                                    class="form-control price-value" oninput="myFunctioncal()"
                                                    placeholder="Size" ng-model="size" value="">
                                                <label class="price-label">USDT</label>
                                            </div>
                                        </div>
                                       
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <h6 class="f-price-head">Buy Price</h6>
                                                <input type="text" maxlength="10" class="form-control price-value"
                                                    placeholder="Buy Point" ng-model="buypoint" value="">
                                                <label class="price-label">USDT</label>
                                            </div>
                                            <div class="col-xl-6">
                                                <h6 class="f-price-head">Sell Price</h6>
                                                <input type="text" maxlength="10" class="form-control price-value"
                                                    placeholder="Sell Point" ng-model="sellpoint" value="">
                                                <label class="price-label">USDT</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-1"></div>
    </div>
</div>
<div class="modal fade" id="myModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-0e0031">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title font-size-20">Adjust Leverage</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="project w-80">
                            <h2 class="text-center">
                                <input type="text" class="percent form-control" readonly />
                                <!-- <input class="percent" type="number" readonly> -->
                            </h2>
                            <div class="bar"></div>
                            <h5 class="text-center mt-3">Maximum position at current leverage: {{maximum}} USDT</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    h2 {
        margin-bottom: 0;
    }

    h3 {
        margin: 0 0 30px;
    }

    .ui-slider-range {
        background: green;
    }

    .percent {
        color: green;
        font-weight: bold;
        text-align: center;
        width: 100%;
        border: none;
    }
</style>
{% include "comman/footer.html"%}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<script>
    function botnotpurchase() {
        toastr.error('Error', '', toast);
    }

    function stratsaved() {
        toastr.error("Please stop the bot");
    }

    $(function () {
        var leverage = JSON.parse('{{leveragelowest|safe }}');

        $('.project').each(function () {
            var $projectBar = $(this).find('.bar');
            var $projectPercent = $(this).find('.percent');
            var $projectRange = $(this).find('.ui-slider-range');
            $projectBar.slider({
                range: "min",
                animate: true,
                value: JSON.parse('{{leverageset}}'),
                min: JSON.parse('{{leveragelowest|safe }}'),
                max: JSON.parse('{{leveragehigest|safe }}'),
                step: 1,
                slide: function (event, ui) {
                    $projectPercent.val(ui.value + "%");
                    $("#leverage").val(ui.value);
                    $("#leverage").text(ui.value + "%");

                },
                change: function (event, ui) {
                    var $projectRange = $(this).find('.ui-slider-range');
                    var percent = ui.value;
                    if (percent < 30) {
                        $projectPercent.css({
                            'color': 'red'
                        });
                        $projectRange.css({
                            'background': '#f20000'
                        });
                    } else if (percent > 31 && percent < 70) {
                        $projectPercent.css({
                            'color': 'gold'
                        });
                        $projectRange.css({
                            'background': 'gold'
                        });
                    } else if (percent > 70) {
                        $projectPercent.css({
                            'color': 'green'
                        });
                        $projectRange.css({
                            'background': 'green'
                        });
                    }
                }
            });
        })
    })
</script>

<script>
    $("#stop-margin").click(function () {
        if ($(".stop-margin").hasClass("fa-stop-circle")) {
            $(".stop-margin").removeClass("fa-stop-circle");
            $(".stop-margin").addClass("fa-play-circle");
            $(".stop-margin").addClass("text-info");
            $(".stop-margin").removeClass("text-danger");
            $(".stop-margin-txt").text("Play margin call");
        } else {
            $(".stop-margin").removeClass("fa-play-circle");
            $(".stop-margin").addClass("fa-stop-circle");
            $(".stop-margin").addClass("text-danger");
            $(".stop-margin").removeClass("text-info");
            $(".stop-margin-txt").text("Stop margin call");
        }
    })
    $('.button')
        .popup({
            inline: true
        });
    function myFunctioncal() {
        var lastprice = document.getElementById("{{coin_n}}-futuretradelastpoint").value;
        if (lastprice === "") { 
            toastr.error("Please set price");
        }
        var s = document.getElementById("{{coin_n}}-size").value;
        if (s === "") { 
            toastr.error("Please set leverage");
        }
        var levragepri = document.getElementById("leverage").value;
        if (levragepri === "") { 
            toastr.error("Please set leverage");
        }
        var coastvalu = (parseFloat(lastprice) * parseFloat(s)) / parseFloat(levragepri);
        if (coastvalu === "") { 
            toastr.error("Please set leverage");
        }else{
        $("#maxcum").text(coastvalu.toFixed(2));
        }
    }
    
</script>