{% include "comman/header.html"%}
{% load static %}

<link rel="stylesheet" href="{% static 'user_panel/css/pagination.css' %}">
{[{<div ng-controller="Tradingbot_Controller" ng-init="get_user_info()">}]}
    <div class="page-content p-mobile pl-0 pr-0">
        <div class="container-fluid p-mobile pl-0 pr-0">
            <div class="card border-radius-0 h-45px">
                <div class="card-body pb-0 pt-0 pl-0">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-custom border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link bg-transparent p-community active " data-toggle="tab" href="#community3"
                                role="tab">
                                <span class="d-block d-sm-none">
                                    <img style="height: 30px !important"
                                        src="{% static 'user_panel/images/coins/BNBUSDT.png' %}"
                                        alt="binance">&nbsp;FUTURE
                                </span>
                                <span class="d-none d-sm-block">
                                    <img style="height: 25px !important"
                                        src="{% static 'user_panel/images/coins/BNBUSDT.png' %}"
                                        alt="binance">&nbsp;FUTURE
                                </span>
                            </a>
                        </li>
                        {% comment %} <li class="nav-item">
                            <a class="nav-link pt-12px pb-12px bg-transparent p-portfolio" data-toggle="tab"
                                href="#portfolio" role="tab">
                                <span class="d-block d-sm-none"><i class="fa fa-folder-open"></i></span>
                                <span class="d-none d-sm-block" id="history">History</span>
                            </a>
                        </li> {% endcomment %}
                    </ul>
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="community3" role="tabpanel">
                    <div class="card bg-transparent mb-0">
                        <div class="card-body pl-0 pr-0 pb-1">
                            <div class="tab-content">
                                <div class="tab-pane active p-3" id="topgainers" role="tabpanel">
                                    <div class="ml-auto mr-auto mt-lg-10 text-center" ng-show="topLoader">
                                        <img src="{% static 'user_panel/images/preloader.gif' %}" alt="loader">
                                    </div>
                                    <div class="row pl-3 mb-2">
                                        <div>
                                            <h3 ng-show="user.binance_apikey === ''" class="mb-0 text-new-red mt-n2">Add
                                                api key on Profile Page</h3>
                                        </div>
                                    </div>
                                    <div class="row mb-14px">
                                        <div class="ml-auto mr-2">
                                            <input type="text" ng-model="top_search" id="filter" name="top_search"
                                                class="form-control input-lg" placeholder="Search Here.." />
                                        </div>
                                    </div>
                                    <div class="ml-auto mr-auto mt-lg-10 text-center" id="preloderb_f">
                                        <img src="{% static 'user_panel/images/preloader.gif' %}" alt="loader">
                                    </div>
                                    <div class="d-nonen" id="binance_future">
                                        <div class="row"  >
                                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 pr-5px results"
                                                id="boxfor_ticker" ng-repeat="coinname in coin_namef | filter:top_search">
                                                <a href="{% url 'bottradefuture' %}/{[{coinname}]}">
                                                    <div id="{[{coinname}]}">
                                                        <div
                                                            class="card directory-card border-radius-copy mb-14px theme-border">
                                                            <div class="card-body pb-12px">
                                                                <div class="mb-2">
                                                                    <img class="h-50px"
                                                                        src="{% static 'user_panel' %}/images/coins/{[{coinname}]}.png"
                                                                        alt="">

                                                                    <ul class="list-unstyled social-links float-right">
                                                                        <li class="text-right mb-2">
                                                                            <small class="opacity-half text-white">
                                                                                profit
                                                                            </small>
                                                                            <div ng-cloak
                                                                                ng-show="gainersforbot.{[{coinname}]}['buysell'] == -1 || gainersforbot.{[{coinname}]}['buysell'] == 1">
                                                                                <h3 class="mb-0 text-theme-green mt-n2"
                                                                                    id="{{coinname}}-hf"></h3>
                                                                            </div>
                                                                            <div ng-cloak
                                                                                ng-hide="gainersforbot.{[{coinname}]}['buysell'] == -1 || gainersforbot.{[{coinname}]}['buysell'] == 1">
                                                                                <h3 class="mb-0 text-new-red mt-n2"
                                                                                    id="coin2">
                                                                                    {[{coinname}]}
                                                                                </h3>
                                                                            </div>
                                                                        </li>
                                                                        <li class="text-right mb-2">
                                                                            <small class="opacity-half">Funding</small>
                                                                            <h3 class="mb-0 mt-n2 text-white"
                                                                                id="{[{coinname}]}-tpf"></h3>
                                                                        </li>
                                                                        <li class="text-right mb-2">
                                                                            <small class="opacity-half">24th
                                                                                Change</small>
                                                                            <h3 class="mb-0 mt-n2 text-white"
                                                                                id="{[{coinname}]}-pf"></h3>
                                                                        </li>
                                                                        <li class="text-right mb-2">
                                                                            <small class="opacity-half"></small>
                                                                            <h3 class="mb-0 mt-n2 text-white"
                                                                                id="{[{coinname}]}-cf"></h3>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>

        </div> <!-- container-fluid -->
    </div>

    {% include "comman/footer.html"%}

</div>
<script>
    $(".pagination-item-copy").on("click", function () {
        $(".pagination-item-copy").removeClass("active");
        $(this).addClass("active");
    });
    $(window).on('load', function(){
        setTimeout(removeLoader, 9000); //wait for page load PLUS two seconds.
      });
      function removeLoader(){
        $('#binance_future').removeClass('d-nonen');
        $('#preloderb_f').addClass('d-none');
      }
</script>

<script>
    $(document).ready(function () {
        $('table.display').DataTable();
    });
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $($.fn.dataTable.tables(true)).DataTable()
            .columns.adjust()
            .responsive.recalc();
    });
</script>

{% comment %} <script>
    var table_history = $('#datatable').DataTable({
        destroy: true,
        pagingType: "simple",
        order: [
            [0, "asc"]
        ]
    }).clear().draw();
    var tableContainer = $(table_history.table().container());
    tableContainer.css('display', 'none');
    $('#historyLoader').addClass('d-block');
    console.log($('#startdate').val(), $('#enddate').val());
    $.ajax({
        type: 'post',
        url: "{% url 'trading' %}",
        data: {
            start: $('#startdate').val(),
            end: $('#enddate').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (res) {

            res = JSON.parse(res);
            count = 1;
            res.forEach(function (bid) {
                var totalt = bid.price * bid.origQty;

                table_history.row.add([count++, bid.id_whichsellorbuy, moment(bid.created_datetime * 1000).format('DD-MM-YYYY hh:mm:ss A'), bid.buy_or_sell == 1 ? '<span class="text-02C076">Buy</span>' : '<span class="text-danger">Sell</span>', bid.symbol, bid.price, bid.origQty, totalt.toFixed(2), bid.price_with_commision, bid.qty_with_commision,]).draw(false);
            })
            $('#historyLoader').removeClass('d-block');
            tableContainer.css('display', 'block');
        }
    })
</script> {% endcomment %}
<script>
    $(document).ready(function () {
        $('.myslider').owlCarousel({
            items: 1,
            nav: false,
            dots: true,
            dotsData: true,
            autoplay: true,
            autoplayTimeout: 3000,
            loop: true,
            autoplayHoverPause: true
        });
    });
</script>

<script>
    function botnotpurchase() {
        toastr.error('Add API', '', toast);
    }

    function invalidwallet() {
        toastr.error("Insufficient Fund")
    }
</script>