:root {
    --forny-p1: 0.25rem;
    --forny-p2: 0.5rem;
    --forny-p3: 0.75rem;
    --forny-p4: 1rem;
    --forny-p5: 1.25rem;
    --forny-p6: 1.5rem;
    --forny-p8: 2rem;
    --forny-p10: 2.5rem;
    --forny-text-xs: 0.75rem;
    --forny-text-sm: 0.875rem;
    --forny-text-md: 1rem;
    --forny-form-width: 26rem;
    --forny-color-facebook: hsla(221, 40%, 47%, 1);
    --forny-color-google: hsla(4, 69%, 53%, 1);
    --forny-color-twitter: hsla(195, 100%, 60%, 1);
    --forny-form-control-border: 1px solid red;
    --forny-form-control-padding: 4px;
    --forny-shadow-color: black;
    --forny-shadow: 0 3px 6px var(--forny-shadow-color);
    --forny-red-100: hsla(0, 100%, 94%, 1);
    --forny-red-500: hsla(4, 69%, 53%, 1);
    --forny-danger-100: hsla(0, 100%, 94%, 1);
    --forny-danger-500: hsla(4, 69%, 53%, 1);
    --forny-color-success-100: hsla(152, 68%, 96%, 1);
    --forny-color-text: black;
    --forny-color-header: var(--forny-color-text);
    --forny-color-accent-500: red
}

.forny-container .text-xs {
    font-size: .75rem;
    font-size: var(--forny-text-xs)
}

.forny-container .text-sm {
    font-size: .875rem;
    font-size: var(--forny-text-sm)
}

.forny-container .text-md {
    font-size: 1rem;
    font-size: var(--forny-text-md)
}

.forny-container .cursor-pointer {
    cursor: pointer
}

.forny-container .pt-1 {
    padding-top: .25rem!important;
    padding-top: var(--forny-p1)!important
}

.forny-container .pt-2 {
    padding-top: .5rem!important;
    padding-top: var(--forny-p2)!important
}

.forny-container .pt-4 {
    padding-top: 1rem!important;
    padding-top: var(--forny-p4)!important
}

.forny-container .pt-10 {
    padding-top: 2.5rem!important;
    padding-top: var(--forny-p10)!important
}

.forny-container .pb-1 {
    padding-bottom: .25rem!important;
    padding-bottom: var(--forny-p1)!important
}

.forny-container .pb-2 {
    padding-bottom: .5rem!important;
    padding-bottom: var(--forny-p2)!important
}

.forny-container .pb-4 {
    padding-bottom: 1rem!important;
    padding-bottom: var(--forny-p4)!important
}

.forny-container .pb-10 {
    padding-bottom: 2.5rem!important;
    padding-bottom: var(--forny-p10)!important
}

.forny-container .mr-1 {
    margin-right: .25rem!important;
    margin-right: var(--forny-p1)!important
}

.forny-container .mr-2 {
    margin-right: .5rem!important;
    margin-right: var(--forny-p2)!important
}

.forny-container .mr-4 {
    margin-right: 1rem!important;
    margin-right: var(--forny-p4)!important
}

.forny-container .mr-6 {
    margin-right: 1.5rem!important;
    margin-right: var(--forny-p6)!important
}

.forny-container .mr-10 {
    margin-right: 2.5rem!important;
    margin-right: var(--forny-p10)!important
}

.forny-container .mb-1 {
    margin-bottom: .25rem!important;
    margin-bottom: var(--forny-p1)!important
}

.forny-container .mb-2 {
    margin-bottom: .5rem!important;
    margin-bottom: var(--forny-p2)!important
}

.forny-container .mb-4 {
    margin-bottom: 1rem!important;
    margin-bottom: var(--forny-p4)!important
}

.forny-container .mb-5 {
    margin-bottom: 1.25rem!important;
    margin-bottom: var(--forny-p5)!important
}

.forny-container .mb-6 {
    margin-bottom: 1.5rem!important;
    margin-bottom: var(--forny-p6)!important
}

.forny-container .mb-8 {
    margin-bottom: 2rem!important;
    margin-bottom: var(--forny-p8)!important
}

.forny-container .mb-10 {
    margin-bottom: 2.5rem!important;
    margin-bottom: var(--forny-p10)!important
}

.forny-container .mt-1 {
    margin-top: .25rem!important;
    margin-top: var(--forny-p1)!important
}

.forny-container .mt-2 {
    margin-top: .5rem!important;
    margin-top: var(--forny-p2)!important
}

.forny-container .mt-4 {
    margin-top: 1rem!important;
    margin-top: var(--forny-p4)!important
}

.forny-container .mt-5 {
    margin-top: 1.25rem!important;
    margin-top: var(--forny-p5)!important
}

.forny-container .mt-6 {
    margin-top: 1.5rem!important;
    margin-top: var(--forny-p6)!important
}

.forny-container .mt-10 {
    margin-top: 2.5rem!important;
    margin-top: var(--forny-p10)!important
}

.forny-container .border-r-0 {
    border-right-width: 0!important
}

.forny-container .btn-social {
    color: #fff;
    border: 0
}

.forny-container .btn-flat {
    padding: 0!important
}

.forny-container .btn-facebook {
    background: #4866a8;
    background: var(--forny-color-facebook)
}

.forny-container .btn-facebook:hover {
    background: #3d578f
}

.forny-container .btn-google {
    background: #0b65c6;
    /* background: var(--forny-color-google) */
}

.forny-container .btn-google:hover {
    background: #bf3b31
}

.forny-container .btn-twitter {
    background: #3cf;
    background: var(--forny-color-twitter)
}

.forny-container .btn-twitter:hover {
    background: #2eb7e5
}

.forny-form .btn.btn-primary {
    border: 0;
    background-color: red;
    background-color: #0b65c6
}

.forny-form .btn.btn-primary:hover {
    background-color: var(--forny-color-accent-700)
}

.forny-container .text-facebook {
    color: #4866a8;
    color: var(--forny-color-facebook)
}

.forny-container .text-google {
    color: #da3f34;
    color: var(--forny-color-google)
}

.forny-container .text-twitter {
    color: #3cf;
    color: var(--forny-color-twitter)
}

.forny-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--forny-font-family);
    color: #000;
    color: var(--forny-color-text)
}

.forny-container a {
    color: var(--forny-link-color)
}

.forny-form {
    margin: 0 auto
}

.forny-form h4 {
    color: #000;
    color: var(--forny-color-header);
    font-weight: 700;
    margin-bottom: 1rem;
    margin-bottom: var(--forny-p4)
}

.forny-form .forny-logo {
    text-align: center;
    margin-bottom: 2.5rem;
    margin-bottom: var(--forny-p10)
}

.forny-form .form-control {
    height: auto;
    border: 1px solid red;
    border: var(--forny-form-control-border);
    padding: 4px;
    padding: var(--forny-form-control-padding);
    border-radius: var(--forny-form-control-radius);
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.forny-form .input-group-prepend .input-group-text,
.forny-form .input-group-append .input-group-text {
    border: 1px solid red;
    border: var(--forny-form-control-border);
    padding: 4px;
    padding: var(--forny-form-control-padding);
    border-radius: var(--forny-form-control-radius);
    text-align: center;
    display: inline-block;
    min-width: 48px
}

.forny-form .input-group-prepend .input-group-text svg,
.forny-form .input-group-append .input-group-text svg {
    fill: currentColor
}

.forny-form .input-group .input-group-prepend+.form-control {
    border-left: 0!important;
    padding-left: .25rem;
    padding-left: var(--forny-p1)
}

.forny-form .input-group .input-group-append+.form-control {
    border-right: 0;
    padding-right: .25rem;
    padding-right: var(--forny-p1)
}

.forny-container .alert-danger {
    background-color: #ffe0e0;
    background-color: var(--forny-danger-100);
    color: #da3f34;
    color: var(--forny-danger-500)
}

.forny-container .has-error .form-control,
.forny-container .has-error .input-group-append .input-group-text,
.forny-container .has-error .input-group-prepend .input-group-text {
    border-color: #da3f34;
    border-color: var(--forny-danger-500);
    outline-color: #da3f34;
    outline-color: var(--forny-danger-500);
    box-shadow: none
}

.forny-container .has-error .form-control,
.forny-container .has-error .input-group-prepend .input-group-text {
    color: #da3f34;
    color: var(--forny-danger-500)
}

.forny-inner {
    display: flex;
    flex-direction: column
}

.forny-form {
    margin: auto
}

@media(min-width:768px) {
    .forny-inner {
        height: auto;
        width: 26rem;
        width: var(--forny-form-width)
    }
    .forny-form {
        width: 26rem;
        width: var(--forny-form-width)
    }
}

.forny-container .has-error {
    background: #ffe0e0;
    background: var(--forny-danger-100)
}

.forny-container .has-error .form-control::-webkit-input-placeholder {
    color: #da3f34;
    color: var(--forny-danger-500)
}

.forny-container .has-error .form-control::-moz-placeholder {
    color: #da3f34;
    color: var(--forny-danger-500)
}

.forny-container .has-error .form-control:-ms-input-placeholder {
    color: #da3f34;
    color: var(--forny-danger-500)
}

.forny-container .has-error .form-control::-ms-input-placeholder {
    color: #da3f34;
    color: var(--forny-danger-500)
}

.forny-container .has-error .form-control::placeholder {
    color: #da3f34;
    color: var(--forny-danger-500)
}

.forny-container .has-error .form-control,
.forny-container .has-error .input-group-text,
.forny-container .has-error input:-webkit-autofill,
.forny-container .has-error input:-webkit-autofill:hover,
.forny-container .has-error input:-webkit-autofill:focus,
.forny-container .has-error input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #ffe0e0 inset!important;
    box-shadow: 0 0 0 30px var(--forny-danger-100) inset!important;
    border-color: #da3f34;
    border-color: var(--forny-danger-500);
    color: #da3f34;
    color: var(--forny-danger-500)
}

.forny-container .is-valid,
.forny-container .is-valid input:-webkit-autofill,
.forny-container .is-valid input:-webkit-autofill:hover,
.forny-container .is-valid input:-webkit-autofill:focus,
.forny-container .is-valid input:-webkit-autofill:active {
    background-color: #eefcf5;
    background-color: var(--forny-color-success-100);
    box-shadow: 0 0 0 30px #eefcf5 inset!important;
    box-shadow: 0 0 0 30px var(--forny-color-success-100) inset!important
}

.forny-form .form-group.focused:not(.has-error) {
    background: #fff;
    border-color: var(--forny-color-text-100)
}

.forny-form .form-control,
.forny-form .input-group-text {
    color: #000;
    color: var(--forny-color-text);
    background: 0 0
}

.forny-form .form-control::-webkit-input-placeholder {
    color: #000;
    color: var(--forny-color-text)
}

.forny-form .form-control::-moz-placeholder {
    color: #000;
    color: var(--forny-color-text)
}

.forny-form .form-control:-ms-input-placeholder {
    color: #000;
    color: var(--forny-color-text)
}

.forny-form .form-control::-ms-input-placeholder {
    color: #000;
    color: var(--forny-color-text)
}

.forny-form .form-control::placeholder {
    color: #000;
    color: var(--forny-color-text)
}

.forny-container .custom-control-input:checked~.custom-control-label::before {
    border-color: red;
    border-color: var(--forny-color-accent-500);
    background-color: red;
    background-color: var(--forny-color-accent-500)
}

.forny-form .form-group .input-group-append .input-group-text {
    padding-left: .5rem;
    padding-left: var(--forny-p2);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0!important
}


/* .forny-form .form-group .input-group-append .input-group-text:hover {
    color: red;
    color: var(--forny-color-accent-500)
} */

.forny-form .input-group-prepend .input-group-text {
    padding-right: .5rem;
    padding-right: var(--forny-p2);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0!important
}

.forny-container .alert {
    margin-bottom: 1rem;
    margin-bottom: var(--forny-p4)
}

.forny-container .password-field .form-control {
    border-right: 0!important
}

.forny-container .btn-icon {
    margin-right: 8px
}

@media only screen and (max-width: 600px) {
    .visible-xs {
        display: block !important;
    }
    .hidden-xs {
        display: none !important;
    }
}

@media only screen and (min-width: 600px) {
    .visible-xs {
        display: none !important;
    }
    .hidden.xs {
        display: block !important;
    }
}

.regeye {
    margin: auto 10px;
    color: #000 !important;
    cursor: pointer;
}

.otp-inpt,
.otp-inpt:focus {
    border: 0 !important;
}