.accordion .accordion-item {
    background-color: rgba(8, 9, 27, 0.7);
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 0 20px;
}

.accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 2px solid;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover {
    cursor: pointer;
    color: #3297cc;
    /* background: linear-gradient(to right, #30CFD0 0%, #330867 100%); */
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    /* border: 1px solid #03b5d2; */
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion button .event-title {
    padding: 1em 1.5em 1em 0;
    font-size: 22px;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded=true] {
    color: #fff;
}

.accordion button[aria-expanded=true] .icon::after {
    width: 0;
}

.accordion button[aria-expanded=true]+.accordion-content {
    opacity: 1;
    max-height: 15em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    /* font-size: 1rem;
    font-weight: 500; */
    margin: 1em 0;
}

.event-down-icon {
    float: right;
}

.event-img {
    border-radius: 1rem !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.px-5px {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.accordion button[aria-expanded=true]+.accordion-content {
    max-height: 150em !important;
    padding-bottom: 1.25rem;
}

.event-box {
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.event-card {
    background-color: #08091b !important;
    border-radius: 1rem !important;
}

.event-card-heading {
    border-bottom: 2px solid #fff;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.event-card-body {
    padding: 1.25rem 1.25rem 0.65rem 1.25rem;
}

.float-right {
    float: right !important;
}

.event-info {
    padding-top: 10px;
    padding-bottom: 10px;
}

.event-link h4 {
    margin-bottom: 0.5rem !important;
}

.event-disc p {
    margin-bottom: 0 !important;
}

.link-text {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
}

.event-info {
    border-bottom: 1px dashed;
}

.event-info:last-child {
    border-bottom: none !important;
}

.date-time-sec,
.event-disc {
    font-size: 18px;
}

.date-time-sec .date-head {
    font-weight: 500;
    color: #f2f2f2;
}


/* .date-time-sec .date-text {
    color: #d9d9d9;
} */

.date-time-sec .time-text {
    /* color: #d9d9d9; */
    float: right;
}

.event-link {
    font-weight: 500;
    font-size: 18px;
    display: flex;
}

.event-link .link-head {
    color: #f2f2f2;
}

.event-disc .disc-head {
    color: #f2f2f2;
}

.d-flex {
    display: flex !important;
}

.justify-center {
    justify-content: center !important;
}