.cor-w-panel-c-title {
	display: inline-flex;
	margin: 0;
	padding: 0;
	font-weight: 700
}

.cor-w-panel-c-title_size_small {
	font-size: 1rem;
	line-height: 1.5
}

.cor-w-panel-c-title_size_medium {
	font-size: 1.6875rem;
	line-height: 1.1851851852
}

.cor-w-panel-c-title_ali_left {
	justify-content: flex-start
}

.cor-w-panel-c-title_ali_center {
	justify-content: center
}

.cor-w-panel-c-title_ali_right {
	justify-content: flex-end
}

.cor-w-panel-c-title_ver-ali_top {
	align-items: flex-start
}

.cor-w-panel-c-title_ver-ali_center {
	align-items: center
}

.cor-w-panel-c-title_ver-ali_bottom {
	align-items: flex-end
}

.cor-w-panel-c-title_clipped,
.cor-w-panel-c-title_clipped span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.cor-w-panel-c-scroll {
	box-sizing: border-box;
	overflow-y: auto;
	scrollbar-color: rgba(var(--contrast-alpha-rgb), .15) rgba(var(--contrast-alpha-rgb), 0);
	scrollbar-width: thin;
	-ms-overflow-style: -ms-autohiding-scrollbar
}

.cor-w-panel-c-scroll::-webkit-scrollbar {
	width: .625rem;
	height: .625rem;
	border-radius: 6.25rem;
	background-color: rgba(var(--contrast-alpha-rgb), 0)
}

.cor-w-panel-c-scroll::-webkit-scrollbar:hover {
	background-color: rgba(var(--contrast-alpha-rgb), .09)
}

.cor-w-panel-c-scroll::-webkit-scrollbar-thumb {
	border: .125rem solid rgba(var(--contrast-alpha-rgb), 0);
	border-radius: 6.25rem;
	background-clip: padding-box;
	background-color: rgba(var(--contrast-alpha-rgb), .15)
}

.cor-w-panel-c-scroll::-webkit-scrollbar-thumb:active {
	border-radius: 6.25rem;
	background: rgba(var(--contrast-alpha-rgb), .61)
}

.cor-w-panel-c-scroll::-webkit-scrollbar-thumb:vertical {
	min-height: .625rem
}

.cor-w-panel-c-scroll::-webkit-scrollbar-thumb:horizontal {
	min-width: .625rem
}

.cor-slide-left_state_appear,
.cor-slide-left_state_enter {
	transform: translateX(-100%);
	opacity: 0
}

.cor-slide-left_state_appear-active,
.cor-slide-left_state_enter-active {
	transform: translateX(0);
	transition: opacity .25s ease-out, transform .25s ease-out;
	opacity: 1
}

.cor-slide-left_state_exit {
	transform: translateX(0);
	opacity: 1
}

.cor-slide-left_state_exit-active {
	transition: opacity .45s ease-in, transform 225ms ease-in
}

.cor-slide-left_state_exit-active,
.cor-slide-right_state_appear,
.cor-slide-right_state_enter {
	transform: translateX(100%);
	opacity: 0
}

.cor-slide-right_state_appear-active,
.cor-slide-right_state_enter-active {
	transform: translateX(0);
	transition: opacity .25s ease-out, transform .25s ease-out;
	opacity: 1
}

.cor-slide-right_state_exit {
	transform: translateX(0);
	opacity: 1
}

.cor-slide-right_state_exit-active {
	transform: translateX(-100%);
	transition: opacity .45s ease-in, transform 225ms ease-in;
	opacity: 0
}

.cor-panel-nav-slide-left_state_appear,
.cor-panel-nav-slide-left_state_enter {
	transform: translateX(0) scale(.96);
	opacity: 0
}

.cor-panel-nav-slide-left_state_appear-active,
.cor-panel-nav-slide-left_state_enter-active {
	transform: translateX(0);
	transition: opacity .15s ease-out, transform .25s ease-out;
	opacity: 1
}

.cor-panel-nav-slide-left_state_exit {
	transform: translateX(0)
}

.cor-panel-nav-slide-left_state_exit-active {
	transform: translateX(100%);
	transition: opacity .45s ease-in, transform 225ms ease-in;
	opacity: 1
}

.cor-panel-nav-slide-right_state_appear,
.cor-panel-nav-slide-right_state_enter {
	transform: translateX(100%);
	opacity: 1
}

.cor-panel-nav-slide-right_state_appear-active,
.cor-panel-nav-slide-right_state_enter-active {
	position: relative;
	z-index: 1;
	transform: translateX(0);
	transition: opacity .25s ease-out, transform .25s ease-out
}

.cor-panel-nav-slide-right_state_exit {
	transform: translateX(0);
	opacity: 1
}

.cor-panel-nav-slide-right_state_exit-active {
	transform: translateX(0) scale(.96);
	transition: opacity .45s ease-in, transform 225ms ease-in;
	opacity: 0
}

.cor-panel-nav-slide-top_state_appear,
.cor-panel-nav-slide-top_state_enter {
	transform: translateY(0) scale(.96);
	opacity: 0
}

.cor-panel-nav-slide-top_state_appear-active,
.cor-panel-nav-slide-top_state_enter-active {
	transform: translateY(0);
	transition: opacity .15s ease-out, transform .25s ease-out;
	opacity: 1
}

.cor-panel-nav-slide-top_state_exit {
	transform: translateY(0)
}

.cor-panel-nav-slide-top_state_exit-active {
	transform: translateY(100%);
	transition: opacity .45s ease-in, transform 225ms ease-in;
	opacity: 1
}

.cor-panel-nav-slide-bottom_state_appear,
.cor-panel-nav-slide-bottom_state_enter {
	transform: translateY(100%);
	opacity: 1
}

.cor-panel-nav-slide-bottom_state_appear-active,
.cor-panel-nav-slide-bottom_state_enter-active {
	position: relative;
	z-index: 1;
	transform: translateY(0);
	transition: opacity .25s ease-out, transform .25s ease-out
}

.cor-panel-nav-slide-bottom_state_exit {
	transform: translateY(0);
	opacity: 1
}

.cor-panel-nav-slide-bottom_state_exit-active {
	transform: translateY(0) scale(.96);
	transition: opacity .45s ease-in, transform 225ms ease-in;
	opacity: 0
}

.cor-w-panel-c-header {
	display: flex;
	position: relative;
	box-sizing: border-box;
	align-items: center;
	color: var(--contrast-alpha)
}

.cor-w-panel-c-header__left,
.cor-w-panel-c-header__right {
	position: relative;
	flex-shrink: 0;
	height: 100%
}

.cor-w-panel-c-header__center {
	width: 100%;
	height: 100%;
	overflow: hidden
}

.cor-w-panel-c-header__center-inner {
	width: 100%;
	height: 100%
}

.cor-w-panel-c-header-action {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: .25rem
}

.cor-w-panel-c-header-action_col_transparent {
	transition: opacity 225ms ease-in-out
}

@media (pointer:fine) {
	.cor-w-panel-c-header-action_col_transparent:hover {
		opacity: .7
	}
}

.cor-w-panel-c-header-action_col_default {
	transition: color .2s ease-in-out, background-color .2s ease-in-out;
	background-color: var(--bg-alpha);
	color: var(--contrast-alpha)
}

@media (pointer:fine) {
	.cor-w-panel-c-header-action_col_default:hover {
		background-color: var(--bg-beta)
	}
}

.cor-w-panel-c-header-action_col_default:active {
	background-color: var(--bg-gamma)
}

.cor-w-panel-l-header {
	position: relative;
	padding: 0 1rem
}

.cor-w-panel-l-header__background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 225ms;
	background-color: inherit
}

.cor-w-panel-l-header__back {
	position: relative;
	margin-left: -.75rem
}

[dir=rtl] .cor-w-panel-l-header__back {
	margin-right: -.75rem;
	margin-left: auto;
	transform: scaleX(-1)
}

.cor-w-panel-l-header__close {
	position: relative;
	margin-right: -.75rem
}

[dir=rtl] .cor-w-panel-l-header__close {
	margin-right: auto;
	margin-left: -.75rem
}

.cor-w-panel-l-header__fake-icon {
	position: absolute;
	z-index: 1;
	transition: opacity 225ms ease-out;
	color: #fff
}

.cor-w-panel-l-header__center {
	display: flex
}

.cor-w-panel-l-header__center_has_transition {
	transition: opacity 225ms
}

.cor-w-panel-l-header__title {
	width: 100%;
	transition: opacity 225ms ease-out;
	opacity: 0
}

.cor-w-panel-l-header__title_visible {
	opacity: 1
}

.cor-w-panel-l-header__actions {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	margin-left: auto
}

.cor-w-panel {
	position: absolute;
	top: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: var(--bg-alpha);
	color: var(--contrast-alpha);
	font-family: var(--main-font)
}

.cor-w-panel_type_detached {
	transition: transform 225ms ease-in;
	contain: layout
}

.cor-w-panel_opened.cor-w-panel_type_detached {
	transition: transform .25s ease-out
}

.cor-w-panel_type_embedded {
	position: relative;
	transform: none;
	transition: max-width 225ms ease-in;
	will-change: max-width
}

.cor-w-panel_opened.cor-w-panel_type_embedded {
	transition: max-width .25s ease-out
}

.cor-w-panel_type_embedded.cor-w-panel_no-animation {
	transition: none
}

.cor-w-panel_type_detached.cor-w-panel_animation_left {
	left: 0;
	transform: translateX(-100%)
}

.cor-w-panel_type_detached.cor-w-panel_animation_right {
	right: 0;
	transform: translateX(100%)
}

.cor-w-panel_type_detached.cor-w-panel_animation_bottom {
	bottom: 0;
	transform: translateY(100%)
}

.cor-w-panel_type_detached.cor-w-panel_opened {
	transform: none
}

.cor-w-panel__container {
	display: flex;
	flex-direction: column;
	height: 100%
}

.cor-w-panel__header {
	position: absolute;
	z-index: 1;
	top: 0;
	flex-shrink: 0;
	width: 100%;
	height: 3.5rem
}

.cor-w-panel__transition-group {
	position: relative;
	z-index: 0;
	box-sizing: border-box;
	height: 100%;
	overflow: hidden
}

.cor-w-panel__scroll-wrapper {
	display: flex;
	position: absolute;
	flex-direction: column;
	width: 100%;
	height: calc(100% - 3.5rem);
	margin-top: 3.5rem;
	background-color: inherit
}

.cor-w-panel__scroll-wrapper_has_image {
	height: 100%;
	margin-top: 0
}

.cor-w-panel__content-fake-image,
.cor-w-panel__content-image {
	flex-shrink: 0;
	width: 100%
}

.cor-w-panel__content-wrapper {
	display: flex;
	position: relative;
	z-index: 1;
	flex-direction: column;
	flex-grow: 1;
	height: 100%
}

.cor-w-panel__content-title {
	box-sizing: border-box;
	flex-shrink: 0;
	margin: 0 0 .5rem;
	padding: 0 1rem
}

.cor-w-panel__content-inner {
	position: relative;
	box-sizing: border-box;
	flex-grow: 1;
	flex-shrink: 0;
	padding: .5rem 1rem 1.5rem;
	background-color: inherit
}

.cor-w-panel__content-inner_has_image {
	padding: 1.5rem 1rem
}

.cor-w-panel-c-header-image {
	display: flex;
	position: relative;
	align-items: flex-end;
	overflow: hidden
}

.cor-w-panel-c-header-image_size_small {
	height: 10rem
}

.cor-w-panel-c-header-image_size_middle {
	height: 12.5rem
}

.cor-w-panel-c-header-image_size_large {
	height: 15rem
}

.cor-w-panel-c-header-image__image {
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover
}

.cor-w-panel-c-header-image__content {
	display: flex;
	position: relative;
	z-index: 1;
	width: 100%;
	min-height: 3.5rem;
	padding: 1rem;
	background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .6))
}

.cor-w-panel-c-header-image__actions,
.cor-w-panel-c-header-image__title {
	width: 50%
}

.cor-w-panel-c-header-image__title {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	margin-right: .5rem;
	color: #fff;
	font-size: 1.6875rem;
	font-weight: 700;
	line-height: 1.185;
	white-space: pre-line
}

.cor-w-panel-c-header-image__actions {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end
}