.mt-20px {
    margin-top: 20px !important;
}

.h-20 {
    height: 20px !important;
}

.h-50px {
    height: 50px !important;
}

.h-30px {
    height: 30px !important;
}

.opacity-0\.85 {
    opacity: 0.85 !important;
}

.f-20px {
    font-size: 20px !important;
}

.p-log-card {
    padding: 1.5rem 1.25rem !important;
}

.p-0\.75rem {
    padding: 0.75rem !important;
}

.mb-11px {
    margin-bottom: 12px !important;
}

.text-6083d9 {
    color: #6083d9 !important;
}

@media only screen and (max-width: 600px) {
    .w-lg-500px {
        width: 300px !important;
    }
}

@media only screen and (min-width: 600px) {
    .w-lg-500px {
        width: 300px !important;
    }
}

@media only screen and (min-width: 992px) {
    .w-lg-500px {
        width: 500px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .w-lg-500px {
        width: 800px !important;
    }
}

.w-100px {
    width: 100px !important;
}

.card-body-log {
    padding: 1.53rem 1.25rem !important;
}

.card-body-log2 {
    padding: 1.9rem 1.25rem !important;
}

.min-h-174px {
    min-height: 174px !important;
}

@media only screen and (max-width: 992px) {
    .icon-hide-sm {
        display: none !important;
    }
}

@media only screen and (max-width:768px) {
    .d-sm-grid {
        display: grid !important;
    }
    .pr-btn-0 {
        padding-right: 0 !important;
    }
}

.start-btn:hover,
.start-btn:focus {
    background-color: #6083d9 !important;
    border-color: #6083d9 !important;
    color: #fff !important;
}

.stop-btn:hover,
.stop-btn:focus {
    background-color: #d9304e!important;
    border-color: #d9304e!important;
    color: #fff !important;
}


/* switch css start */

.switch3 {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 37px;
    border-radius: 37px;
    background-color: #f3f4f4;
    cursor: pointer;
    transition: all .3s;
    overflow: hidden;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
}

.switch3 input {
    display: none;
}

.switch3 input:checked+div {
    left: calc(80px - 32px);
    box-shadow: 0px 0px 0px white;
}

.switch3 div {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 27px;
    background-color: white;
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px 1px rgb(150, 150, 150);
    transition: all .3s;
}

.switch3 div:before,
.switch3 div:after {
    position: absolute;
    content: 'on';
    width: calc(80px - 40px);
    height: 37px;
    line-height: 37px;
    font-size: 14px;
    font-weight: bold;
    top: -5px;
}

.switch3 div:before {
    content: 'off';
    color: rgb(120, 120, 120);
    left: 100%;
}

.switch3 div:after {
    content: 'on';
    right: 100%;
    color: white;
}

.switch3-checked {
    background-color: #e74c3c;
    box-shadow: none;
}


/* switch css end */

.h-40 {
    height: 40px !important;
}

#one-shot,
#stop-margin {
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    .font-lg-12 {
        font-size: 12px !important;
    }
}

@media only screen and (min-width: 1510px) {
    .font-lg-12 {
        font-size: 14px !important;
    }
}

.w-70px {
    width: 53px !important;
}

.form-trade {
    background-color: transparent !important;
    color: #fff !important;
    border-color: transparent !important;
}

.p-trade-card {
    padding: 0.5rem 1.25rem !important;
}

.border-bottom-trade {
    border-bottom: 1px solid #1d0066 !important;
}

.py-0\.65rem {
    padding-top: 0.65rem !important;
    padding-bottom: 0.65rem !important;
}

.input-focus,
.margin-card {
    cursor: pointer;
}

.margin-card {
    background-color: #12003c;
    border-radius: 0.75rem;
}

.margin-card-body {
    padding: .5rem 1.25rem;
}

.form-control:focus {
    color: #000 !important;
}

.min-w-40px {
    min-width: 40px !important;
}

.pr-10px {
    padding-right: 10px !important;
}

input[switch]+label:before {
    right: 5px !important;
    margin: 3px !important;
    top: -1px !important;
}

input[switch]+label:after {
    height: 18px !important;
    width: 18px !important;
    top: 3px !important;
}

input[switch]:checked+label:before {
    left: -13px;
    top: -1.5px !important;
}

.h-input {
    height: calc(1.5em + 0.94rem + -6px) !important;
}

.border-radius-2 {
    border-radius: 0.5rem !important;
}

.text-gold-new {
    color: gold !important;
}

@media only screen and (max-width: 600px) {
    .d-xsm-grid {
        display: grid !important;
    }
}

.w-175px {
    width: 175px !important;
}

.px-0\.65rem {
    padding-left: 0.65rem !important;
    padding-right: 0.65rem !important;
}

.min-w-57px {
    min-width: 57px !important;
}

.page-item.active .page-link {
    background-color: #6083d9 !important;
    border-color: #6083d9 !important;
}

.page-item.disabled .page-link {
    background-color: #2b2f36 !important;
    border-color: #2b2f36 !important;
}

.bg-0e0031 {
    background-color: #0e0031 !important;
}

.h-35 {
    height: 35px !important;
}

@media only screen and (max-width: 600px) {
    .visible-xs {
        display: block !important;
    }
}

@media only screen and (min-width: 600px) {
    .visible-xs {
        display: none !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.dropzone {
    background: #0e0031 !important;
    padding: 16px 20px !important;
    height: 60px !important;
}

.modal-card {
    width: 100%;
    height: auto !important;
    max-height: 76vh;
    overflow-y: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modal-card::-webkit-scrollbar {
    width: 0 !important;
}

.modal-head-card {
    width: 100%;
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.w-93px {
    width: 93px !important;
}

#odertype::placeholder {
    color: #000 !important;
}

.mr-22px {
    margin-right: 22px !important;
}

.mr-17px {
    margin-right: 17px !important;
}

.pl-6 {
    padding-left: 6.75px !important;
}

.pr-6 {
    padding-right: 6.75px !important;
}

.model-margin:nth-of-type(odd) {
    background-color: rgba(44, 0, 156, 0.2) !important;
    padding: 0 12px 15px 12px !important;
    border-radius: 0.75rem !important;
    margin-bottom: 7px;
}

.model-margin:nth-of-type(even) {
    background-color: rgba(96, 131, 217, 0.3) !important;
    padding: 0 12px 15px 12px !important;
    border-radius: 0.75rem !important;
    margin-bottom: 7px;
}

.model-margin input::placeholder {
    color: rgba(0, 0, 0, 0.7) !important;
}

#bot-histoty.table-responsive-lg::-webkit-scrollbar {
    height: 0 !important;
}

@media only screen and (min-width: 992px) {
    .mt-md-n8 {
        margin-top: -175px !important;
    }
}

.profit-amt {
    color: #02c076!important;
}

.profit-head {
    color: #fff!important;
}

@media only screen and (max-width: 600px) {
    .profit-amt {
        font-size: 20px !important;
    }
    .profit-head {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 768px) {
    .theme-border-mobile {
        border: 3px solid white !important;
        border-radius: 1.25rem;
    }
    .theme-border-web {
        border: none !important;
    }
}

@media only screen and (min-width: 768px) {
    .theme-border-web {
        border: 3px solid white !important;
        border-radius: 1.25rem;
    }
    .theme-border-mobile {
        border: none !important;
    }
}

.p-1\.25 {
    padding: 1.25rem !important;
}

.reward-badge-img1 {
    height: 65px;
    width: 65px;
    position: absolute;
    top: -18px;
    left: -22px;
    z-index: 20 !important;
}

.reward-badge-img2 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -14px;
    left: -12px;
    z-index: 20 !important;
}

.reward-badge-img3 {
    height: 53px;
    width: 53px;
    position: absolute;
    top: -14px;
    left: -13px;
    z-index: 20 !important;
}

.reward-badge-img4 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -14px;
    left: -13px;
    z-index: 20 !important;
}

.reward-badge-img5 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -14px;
    left: -10px;
    z-index: 20 !important;
}

.reward-badge {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 65%;
    background: #6083d9;
    padding: 5px 0 5px 45px;
    font-size: 20px;
    font-weight: 500;
    border-top-left-radius: 1.25rem !important;
    color: #fff;
}

.reward-badge:after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: -20px;
    width: 40px;
    background: inherit;
    transform: skew(-30deg);
}

@media only screen and (max-width: 768px) {
    .table-date {
        display: grid !important;
    }
    .table-dash {
        display: none !important;
    }
    .table-date-text {
        font-size: 16px;
        font-weight: 500;
    }
    .table-year-text {
        font-size: 13px;
        opacity: 0.7;
    }
    .table-team-income.table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child,
    .table-team-income.table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
        padding-left: 12px !important;
    }
    .profit-text {
        font-size: 18px;
        font-weight: 600;
        color: #02c076!important;
        letter-spacing: 1px;
    }
    .p-table-0 {
        padding: 0;
    }
    .width-50p {
        width: 50% !important;
    }
    .web-hidden {
        display: block !important;
    }
}

@media only screen and (min-width: 768px) {
    .profit-text {
        font-size: 18px;
        font-weight: 600;
        color: #02c076!important;
        letter-spacing: 1px;
    }
    .w-sm-50 {
        width: auto !important;
    }
    .web-hidden {
        display: none !important;
    }
}

.badge-success {
    font-weight: 500;
}

.numberstyle-qty {
    position: relative;
    border-radius: 6px;
    background-color: #FFFFFF;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(116, 116, 116, 0.25);
}

.numberstyle-qty input,
.numberstyle-qty .qty-btn {
    position: relative;
    display: block;
    float: left;
    height: 40px;
    padding: 0;
    margin: 0;
    border: 0px;
    text-align: center;
    line-height: 40px;
    outline: 0;
    box-shadow: 0px;
}

.numberstyle-qty .qty-btn {
    width: 40px;
    font-size: 18px;
    color: #000;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 250ms ease;
}


/* .numberstyle-qty .qty-btn.disabled {
    cursor: default;
    color: rgba(116, 116, 116, 0.5);
} */

.numberstyle-qty input {
    width: 50px;
    border-left: 0;
    border-right: 0;
    color: #747474;
    font-size: 18px;
    font-weight: 700;
    z-index: 1;
}

.numberstyle-qty input:focus {
    outline: 0;
    box-shadow: 0px;
}

.numberstyle-qty input[type=number]::-webkit-inner-spin-button,
.numberstyle-qty input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numberstyle-qty input[type=number] {
    -moz-appearance: textfield;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.4em !important;
    transform: rotate(45deg);
    border: none !important;
}

.ui-slider-horizontal {
    height: 7px !important;
    background-color: rgb(71, 77, 87) !important;
}

.w-80 {
    width: 88%;
}

input.percent {
    margin-bottom: 15px;
}

.percent {
    font-size: 16px !important;
}

.bar-percentage {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.ui-widget-content {
    background: rgb(183, 189, 198) !important;
}

.price-value {
    font-size: 15px;
    font-weight: 500;
}

.f-price-head {
    font-size: 15px !important;
    margin-left: 0.25rem !important;
    margin-top: 0.5rem !important;
}

.price-label {
    position: absolute;
    bottom: 0;
    right: 20px;
    color: #000;
    font-size: 15px;
}

.price-last-val {
    position: absolute;
    bottom: 6.5px;
    right: 63px;
    color: #6083d9;
    font-size: 15px;
    font-weight: 500 !important;
    cursor: pointer;
}

.min-h-188 {
    min-height: 188px;
}


.d-nonen{
    display: none !important;
}