:focus {
    outline: 0!important
}

.blink-me {
    animation: blinker 1s linear infinite
}

.blink-me-fast {
    animation: blinker .5s linear infinite
}

@keyframes blinker {
    50% {
        opacity: 0
    }
}

.card-gauge a.active {
    color: gold!important
}

.modal-content {
    max-width: 450px
}

.indicator-add-params,
.indicator-list {
    max-width: 450px;
    max-height: 450px
}

.indicator-add-params,
.indicator-list {
    overflow-y: scroll
}

.indicator-add-params::-webkit-scrollbar,
.indicator-list::-webkit-scrollbar {
    display: none
}

.indicator-add-params,
.indicator-list {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.profit-loader {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    /* background-color: transparent; */
    /* background-color: rgba(0, 0, 0, 0.7) ; */
    background-image: url(../images/trade/celeb2.png) !important;
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999999;
    opacity: 1
}

.profit-loader-text {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 30px;
    opacity: 1
}

.profit-loader-text span {
    padding: 5px;
    color: gold;
    font-weight: 700
}

.mobile-display .card {
    background: #12161c
}

.buttons-wrapper {
    width: 100%;
    max-width: 175px;
    border-radius: 10%;
    overflow: hidden
}

.menu-wrapper {
    float: left;
    height: calc(100% - 50px);
    width: auto;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0;
    display: inline
}

.buttons-wrapper>button {
    padding: 10px;
    font-size: 1.3rem
}

.modal>.nav-item>a {
    background: #fff
}

.btn-alert,
.btn-indicator {
    background-color: #fff;
    padding: 3px
}

.alerts-list,
.indicator-list {
    width: 35%
}

.alerts-remove-params,
.indicator-add-params,
.indicator-edit-params {
    width: 65%
}

.btn-down-action,
.btn-up-action {
    color: #000;
    font-weight: 700;
    letter-spacing: .5px
}

.swal-wide {
    min-width: 50%;
    height: 60vh;
    overflow-y: scroll
}

.list-group-item {
    padding: 0 5px;
    font-size: 14px
}

body {
	background: #0e0031!important
}

.result-wrapper {
    display: flex
}

.inner-result-wrapper {
    margin: auto
}

.dots {
    padding: 0;
    margin: 3px;
    height: 30px;
    width: 30px;
    border-radius: 50%
}

.green {
    background: #02c076!important
}

.red {
    background: #d9304e!important
}

.empty {
    background: #37373c
}

.progress {
    font-size: 14px!important
}

#container {
    height: 100%;
    width: 100%
}

.chart-container {
    height: 30vh;
    width: auto
}

.card-chart {
    height: 65vh!important
}

.card-gauge {
    height: 25vh
}

.mobile-display {
    height: 15vh;
    display: none
}

.upper-default {
    height: 65vh!important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.lower-default {
    width: 90%;
    height: 25vh
}

.bids-card {
    height: 250px;
    overflow-y: scroll
}

.highcharts-indicators>.highcharts-menu-item-btn {
    background-image: url(https://code.highcharts.com/gfx/stock-icons/indicators.svg)
}

li.highcharts-active {
    background-color: #e6ebf5
}

.light-gold {
    background: #4f5763
}

.gold {
    background: #4f5763
}

.left-border {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px
}

.right-border {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px
}

.btnAmt,
.btnAmt:hover {
    color: #fff;
    font-size: .75rem!important
}

.gauge-panel {
    position: fixed;
    top: 60vh;
    height: 40vh;
    width: 75%;
    max-width: 80%;
    background: #fff
}

.searchclear {
    position: absolute;
    right: 3%;
    top: 5px;
    bottom: 5px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background: #666161;
    padding: 0 10px;
    border: 1px solid;
    border-radius: 50%
}

#timer1 {
    width: 48%
}

.chart-wrapper {
    float: left;
    position: relative;
    width: 100%;
    height: 100%
}

@media screen and (max-width:1024px) {
    .highcharts-stocktools-toolbar li>.highcharts-menu-item-title {
        display: none
    }
    .highcharts-stocktools-toolbar li ul li {
        width: auto
    }
    .dots {
        padding: 0;
        margin: 4px;
        height: 25px;
        width: 25px;
        border-radius: 10%
    }
    .card-gauge {
        height: 18vh
    }
}

@media screen and (max-width:768px) {
    .highcharts-stocktools-toolbar li>.highcharts-menu-item-title {
        display: none
    }
    .highcharts-stocktools-toolbar li ul li {
        width: auto
    }
    .dots {
        padding: 0;
        margin: 2px;
        height: 19px;
        width: 19px;
        border-radius: 10%
    }
    .card-gauge {
        height: 18vh
    }
}

@media screen and (max-width:720px) {
    .highcharts-stocktools-toolbar li>.highcharts-menu-item-title {
        display: none
    }
    .highcharts-stocktools-toolbar li ul li {
        width: auto
    }
    .chart-container {
        height: 15vh
    }
    .default-display {
        display: none
    }
    .mobile-display {
        display: block!important;
        bottom: 0;
        height: 18vh
    }
    .dots {
        padding: 0;
        margin: 2px;
        height: 18px;
        width: 18px;
        border-radius: 10%
    }
    .card-gauge {
        height: 18vh
    }
}

@media screen and (max-width:576px) {
    .card-gauge {
        height: 18vh
    }
    .chart-container {
        height: 15vh
    }
    .default-display {
        display: none
    }
    .mobile-display {
        display: block!important;
        bottom: 0;
        height: 18vh
    }
    .searchclear {
        position: absolute;
        right: 28%;
        top: 7px;
        bottom: 5px;
        margin: auto;
        font-size: 14px;
        cursor: pointer;
        color: #fff;
        background: #666161;
        padding: 0 10px;
        border: 1px solid;
        border-radius: 50%
    }
    #lblC,
    #lblH,
    #lblL,
    #lblO,
    #lblTimer,
    #lblValue {
        display: none
    }
    .col-sm-4 {
        width: 33%!important
    }
    .card-chart {
        height: calc(58vh - 28px)!important
    }
}

@media screen and (max-width:540px) {
    .card-gauge {
        height: 18vh
    }
    .dots {
        padding: 0;
        margin: 1px;
        height: 14px;
        width: 14px;
        border-radius: 10%
    }
    .chart-container {
        height: 15vh
    }
    .default-display {
        display: none
    }
    .mobile-display {
        display: block!important;
        bottom: 0;
        height: 18vh
    }
    .searchclear {
        position: absolute;
        right: 28%;
        top: 7px;
        bottom: 5px;
        margin: auto;
        font-size: 14px;
        cursor: pointer;
        color: #fff;
        background: #666161;
        padding: 0 10px;
        border: 1px solid;
        border-radius: 50%
    }
    #lblC,
    #lblH,
    #lblL,
    #lblO,
    #lblTimer,
    #lblValue {
        display: none
    }
    .col-sm-4 {
        width: 33%!important
    }
    .card-chart {
        height: calc(58vh - 28px)!important
    }
}

@media screen and (max-width:414px) {
    .highcharts-stocktools-toolbar li>.highcharts-menu-item-title {
        display: none
    }
    .highcharts-stocktools-toolbar li ul li {
        width: auto
    }
    .dots {
        padding: 0;
        margin: 2px;
        height: 18px;
        width: 18px;
        border-radius: 10%
    }
    .card-gauge {
        height: 18vh!important
    }
    .card-chart {
        height: calc(58vh - 28px)!important
    }
}

@media screen and (max-width:375px) {
    .highcharts-stocktools-toolbar li>.highcharts-menu-item-title {
        display: none
    }
    .highcharts-stocktools-toolbar li ul li {
        width: auto
    }
    .dots {
        padding: 0;
        margin: 1px;
        height: 18px;
        width: 18px;
        border-radius: 10%
    }
    .card-gauge {
        height: 18vh
    }
    .card-chart {
        height: calc(58vh - 28px)!important
    }
}

@media screen and (max-width:360px) {
    .highcharts-stocktools-toolbar li>.highcharts-menu-item-title {
        display: none
    }
    .highcharts-stocktools-toolbar li ul li {
        width: auto
    }
    .dots {
        padding: 0;
        margin: 1px;
        height: 18px;
        width: 18px;
        border-radius: 10%
    }
    .card-gauge {
        height: 18vh
    }
    .card-chart {
        height: calc(58vh - 28px)!important
    }
}

@media screen and (max-width:320px) {
    .highcharts-stocktools-toolbar li>.highcharts-menu-item-title {
        display: none
    }
    .highcharts-stocktools-toolbar li ul li {
        width: auto
    }
    .card-gauge {
        height: 0;
        display: none
    }
    .card-chart {
        height: 60vh!important
    }
    .mobile-display {
        height: auto
    }
}

.bg-grdnt-1 {
    background: linear-gradient(to bottom, #202305 0, #152b38 100%)!important
}

.bg-202305 {
    background: #202305!important
}

body[data-sidebar=dark] .mm-active .active,
body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a {
    background: #6083d9!important
}

@media screen and (min-width:992px) {
    .bg-img-trade {
        background-image: url(../images/trade/map3.png);
        background-repeat: round;
        background-position: unset
    }
}

.notification-modal-label {
    color: #fff;
    margin-top: -.3rem;
    padding-left: .5rem
}

td.the_wheel {
    background-image: url(../libs/wheel/wheel.png);
    background-position: center;
    background-repeat: none
}

div.power_controls {
    margin-right: 70px
}

table.power {
    background-color: #ccc;
    cursor: pointer;
    border: 1px solid #333
}

table.power th {
    background-color: #fff;
    cursor: default
}

td.pw1 {
    background-color: #6fe8f0
}

td.pw2 {
    background-color: #86ef6f
}

td.pw3 {
    background-color: #ef6f6f
}

.clickable {
    cursor: pointer
}

#slider {
    margin-top: 50px;
    overflow: hidden
}

.slides {
    overflow: hidden;
    animation-name: fade;
    animation-duration: 1s;
    display: none
}

.img-slide {
    width: 100%;
    height: 171px
}

#dot {
    margin: 7px auto;
    text-align: center
}

.dot {
    display: inline-block;
    border-radius: 50%;
    background: grey;
    padding: 5px;
    margin: 10px 5px
}

.dot.active {
    background: #fff
}

@media (max-width:600px) {
    #slider {
        width: 100%
    }
    .img-slide {
        width: 100%;
        margin-top: 50px!important;
        height: 30%
    }
    #slider {
        margin-top: 0!important;
        overflow: hidden
    }
}
